[2021-02-04 17:01] seldridge opened #558 "[FIRRTL] Lower Vectors in LowerTypes"
Currently, FIRRTL Dialect's lower types pass only supports bundles and not vectors. Add support for this.

Consider:

[code]

Currently, CIRCT just won't lower these. With the Scala FIRRTL Compiler, these are blown out into:

[code]

[2021-02-04 21:42] seldridge opened #559 "[FIRRTL] Context Dependent Port Parsing"
The following circuit is currently valid, but fails parsing:

[code]

[code]

[2021-02-05 15:25] #550 closed

[2021-02-05 15:25] darthscsi commented on #550
Fixed.

[2021-02-05 19:01] lattner commented on #542
Yeah, I think it makes sense to merge these now that wire got sunk down to the SV dialect.  Adding an enum to specify how it gets printed makes sense to me.

[2021-02-05 23:44] #519 closed

[2021-02-06 00:27] JuanEsco063 commented on #543
@mikeurbach I just double checked and rebuilt everything with the latest main and I still see issues 1) and 3). I am using the following lowering steps and passes to generate Verilog:

`circt-opt counter_std.mlir -create-dataflow -lower-handshake-to-firrtl | circt-opt -pass-pipeline='firrtl.circuit(firrtl.module(firrtl-lower-types))' | firtool --format=mlir -verilog`

Using that command on the cod

[2021-02-06 01:49] drom opened #563 "[FIRRTL] instance invalid bindings"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl` gives an error:

[code]

Compiled with `firrtl-1.5.0` produces this Verilog:

[code]

[2021-02-06 01:53] drom opened #564 "[FIRRTL] Add CheckInitialization Support"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl` produces legit Verilog, but:

Compiled with `firrtl-1.5.0` produces this error:

[code]

[2021-02-06 05:12] mikeurbach commented on #558
I never started on this, but when I was working on LowerTypes support for bundles, I thought this would be a natural extension. It should be relatively smooth to add to the flow in LowerTypes, with `subindex` handling similar to the existing `subfield` handling. I'm not sure how hard it would be to support `subaccess` as well, but that should work similarly.

[2021-02-06 05:40] mikeurbach commented on #543
@JuanEsco063 I think there is another command to transform the FIRRTL to Verilog using CIRCT, which actually produces different results. Can you try using the `firtool` directly, like:

[code]

The `-enable-lower-types` flag is invoking the `firrtl.circuit(firrtl.module(firrtl-lower-types))` pass. The difference is in the `-lower-to-rtl` flag.

The command you shared (which I think you got from me

[2021-02-08 16:10] oroppas opened #569 "error: no matching function for call to 'get'"
I've got the following error during the build:

[code]

Here's how I build

[code]

[2021-02-08 17:29] mikeurbach commented on #569
I suspect this has to do with the version of LLVM you are building with. I see you are building both CIRCT and NPComp as external LLVM projects. Since both CIRCT and NPComp have their own expectation for the LLVM version, you will need to take care to pick a version that satisfies the expectations of both projects.

[2021-02-08 20:42] darthscsi commented on #543
Lowering to rtl first will use the always_ff blocks and merge them.  It should give consistent reset behavior.

[2021-02-08 21:00] teqdruid opened #570 "Windows build warnings"
[code]

The `cl` flag for this is different.

[2021-02-08 21:02] JuanEsco063 commented on #543
@mikeurbach Thank you very much for those clarifications! Yes that command works perfectly and ** it does solve all but issue 2)** where Vivado can't synthesize the memory element as is. However, there is an easy fix. The TCL console gives this messages:

![image](https://user-images.githubusercontent.com/70769188/107280210-de7fc780-6a0c-11eb-842b-656021eeb000.png)

So simply changing the definiti

[2021-02-08 21:43] mikeurbach commented on #543
@JuanEsco063 glad to hear the preferred lowering path is almost working for you out of the box.

The log from Vivado is also really helpful, and I think I'm understanding now what is going on. The generated circuit has a "memory" that is really just storing a single 32-bit value. Vivado seems to handle this by trying to lower it to a single 32-bit register instead, and then fails because it isn't

[2021-02-08 22:43] darthscsi opened #572 "Assigning to constants!"
[code]
Generates this awesome verilog:
[code]

[2021-02-08 23:36] JuanEsco063 commented on #543
@mikeurbach Interesting. Do you have some sample code that would generate a single 32-bit register? Unless all I do is read and write back to a piece of memory, no matter how simple I make my code the generated memory element has 1 read and 2 write ports. Even for something that should just be interpreted as a register such as a MAC kernel.

[2021-02-09 00:39] mikeurbach commented on #543
I only mean that we have the ability to represent a register in CIRCT, not that there is any way to necessarily use it in the lowering from Standard to Handshake to FIRRTL right now. We can have registers in FIRRTL:

[code]

Which become registers in the generated Verilog using `firtool -format=fir -lower-to-rtl -verilog`:

[code]

I am looking at the memory case with one element as well and I am

[2021-02-09 02:16] oroppas commented on #569
Thank you for the information. My apologies for misunderstanding of the LLVM requirement of CIRCT and NPComp.

[2021-02-09 02:16] #569 closed

[2021-02-09 02:46] mikeurbach commented on #543
I guess the simplest example that can work is something like this:

[code]

The single-element memory generated for the`%reg` memref is only read once and written once, and Vivado seems to be able to handle this case in the generated Verilog. However, if there is more than one `store` to `%reg`, like in Counter.txt, you will hit the issue.

[2021-02-09 14:56] xgupta commented on #570
We may look at what [libunwind's CMakelists.txt](https://github.com/llvm/llvm-project/blob/main/libunwind/CMakeLists.txt#L253) is doing:
[code]

Or  what [Polly's CMakeLists.txt](https://github.com/llvm/llvm-project/blob/main/polly/CMakeLists.txt#L59) is doing:
[code]

[2021-02-09 15:56] mikeurbach commented on #337
Should we close this issue, since the initial lowering is implemented and we have been discussing some of the end-to-end issues in #543?

[2021-02-09 17:43] JuanEsco063 commented on #337
@mikeurbach I second closing this issue @hanchenye

[2021-02-09 18:01] seldridge commented on #262
Fixed via ded5bd2e396a84cc9e277573ce8e83d06b699bd4.

[2021-02-09 18:01] #262 closed

[2021-02-09 18:18] JuanEsco063 commented on #543
@mikeurbach I see what you are saying. Take a look at the attached code (MultiRW.txt). As you uncomment more store/load pairs, the generated Verilog has more and more store ports instead of detecting these are sequential assignments and old ports can be reused. Curiously, by the time you uncomment the 4th pair, you start getting this error (error.txt) when you try to generate Verilog.

[MultiRW.tx

[2021-02-09 19:43] mikeurbach commented on #543
That's a good point. The control logic should be generated in a way that memory accesses happen in the right order, so I think it should also be possible to share ports at the FIRRTL level. If that's valid, maybe this could even be a transformation at the Handshake level to merge the loads and stores.

[2021-02-09 20:39] JuanEsco063 commented on #543
Of course, the compiler might be trying to squeeze every ounce of data parallelism and that is why it is doing the multiple ports which in general is great but then in this case the address is set statically so it should not even try to parallelize it and detect sequential read/writes to a single register/memory. Or worst case detect only the last assignment is being reflected in the return value

[2021-02-09 20:48] mikeurbach commented on #536
I started looking into this, and have a rough idea of how I'd do it. For example, consider a simple test like this:

[code]

The changes I'm proposing are twofold.

First, the `lower-firrtl-to-rtl-module` pass can create interfaces in the top-level module and rewrite the modules to use the interfaces as the ports' types. It would then insert casts back to the original FIRRTL types, leaving somethi

[2021-02-10 18:50] JuanEsco063 commented on #543
It seems there is a deeper bug in the handshake signal generation when there is a loop in the standard code, resulting in a one-shot behavior. This is, only a single load/store operation is performed for the execution of the program.

For example, code mac_std works as intended (See image below) because there are no loops involved. All the signals are triggered externally. Note I had to remove the

[2021-02-10 18:51] lattner commented on #262
thx

[2021-02-10 20:10] mikeurbach commented on #543
Thanks for the detailed test and your digging @JuanEsco063. I will post here if I can reproduce this and if there is any bug/mitigation I find.

[2021-02-10 20:53] teqdruid commented on #523
Leave the module (and types?) in the RTL dialect.

[2021-02-10 23:45] lattner commented on #572
How is "is invalid" lowered by SFC for analog types?

[2021-02-11 00:21] seldridge commented on #572
It looks like the SFC just drops it:

[code]

The `RemovValidIf` transform is replacing the `is invalid` with a `skip`. Relevant code is [here](https://github.com/chipsalliance/firrtl/blob/cd845bdbfea0c09e9edbf61e651ede5197d8a084/src/main/scala/firrtl/passes/RemoveValidIf.scala#L46).

After that runs you have:

[code]

[2021-02-11 18:53] teqdruid opened #578 "Windows build break: unresolved external symbol __imp_mlirGetDialectHandle__rtl__"
[code]

Likely broken by b03db32b0f83824306c301b68ad02cb5a7af04b8. @GeorgeLyon Could you take a look please?

[2021-02-11 18:56] GeorgeLyon commented on #578
I think the patch updating MLIR will fix this, not sure how this sneaked past CI

[2021-02-11 18:58] GeorgeLyon commented on #578
Looks like @youngar fixed that patch, thanks Andrew! I've merged that PR and am re-running the windows build.

[2021-02-11 18:58] teqdruid commented on #578
the CI doesn't run the Windows build. It's run nightly. Not ideal, but we have a limited number of builders and the windows build is pretty slow, especially when compiling LLVM.

[2021-02-11 18:58] teqdruid commented on #578
Thanks!

[2021-02-11 21:10] GeorgeLyon commented on #578
Looks like the build failed but with a different error: https://github.com/llvm/circt/runs/1881924297?check_suite_focus=true

[2021-02-11 21:53] teqdruid commented on #578
That's probably an under specification of the dependencies for the CAPI library or test.

[2021-02-11 22:08] GeorgeLyon commented on #578
The only dependency that should be needed for that symbol is this: https://github.com/llvm/circt/blob/162a0d824796c8423af0aa1dbf5e55257251ccd2/test/CAPI/CMakeLists.txt#L9
Indeed, that should be the only symbol in that target: https://github.com/llvm/circt/blob/162a0d824796c8423af0aa1dbf5e55257251ccd2/lib/CAPI/Dialect/RTL.cpp#L19

The "inconsistent visibility" message is curious too. I'm not sure h

[2021-02-12 01:17] mikeurbach commented on #543
I think I'm seeing the same thing in simulation. Trying to follow the dataflow and see who isn't correctly propagating readiness upstream.

[2021-02-12 01:35] GeorgeLyon commented on #578
@teqdruid Thinking about this a bit more, I'm wondering if the `MLIR_CAPI_EXPORTED` define isn't being set properly for some reason in one of the configurations. That would explain the "inconsistent visibility" message (one version has it correct and another has it incorrect), and incorrect visibility would explain why a symbol which seems to be pretty straightforwardly defined in a dependency, is

[2021-02-12 01:37] teqdruid commented on #578
Where are you seeing this message?

I am also not terribly familiar with development on Windows.

[2021-02-12 01:57] GeorgeLyon commented on #578
Whoops, I misspoke, the log was not "inconsistent visibility" but "inconsistent dll linkage"
https://github.com/llvm/circt/runs/1881924297?check_suite_focus=true#step:7:171

[2021-02-12 02:00] teqdruid commented on #578
I see it now. I've had trouble with dynamic vs static linking on windows before with LLHD.

[2021-02-12 02:03] lattner commented on #439
TEstcase:

// CHECK-LABEL: exprInlineTestIssue439
rtl.module @exprInlineTestIssue439(%clk: i1) {
  %c = rtl.constant (0:i32) : i32
  sv.always posedge %clk {
    %e = rtl.extract %c from 0 : (i32) -> i16
    %f = rtl.add %e, %e : i16
    sv.fwrite "%d"(%f) : i16
  }
}

[2021-02-12 02:04] lattner commented on #523
Yep, makes sense.  We should move the combinational ops to the comb dialect then figure out what remains and where it should go.

[2021-02-12 02:24] lattner opened #583 "StandardToHandshake.cpp ignoring result of rewriteAffineFor"
I get this warning from the build:

lib/Conversion/StandardToHandshake/StandardToHandshake.cpp:1454:5: warning: ignoring return value of function declared with 'warn_unused_result' attribute [-Wunused-result]
    rewriteAffineFor(newFuncOp, rewriter);
    ^~~~~~~~~~~~~~~~ ~~~~~~~~~~~~~~~~~~~

indeed, this can fail when the affine for is too complicated.  The caller should handle the error somehow.

[2021-02-12 03:17] mikeurbach commented on #583
I was going to take a look at re-working that function soon anyway, so I can update it for now to handle the failure.

[2021-02-12 04:22] teqdruid commented on #578
I've repro'd the issue locally and established that if that function is exported properly with `__declspec(dllexport)` it links. (I hacked the header in llvm.) So you were correct about the capi exported being wrong.

[2021-02-12 04:26] teqdruid commented on #578
Ah... https://github.com/llvm/llvm-project/blob/4d3a061c32ee5c4fb88be389a4dd7fd71fc9fa9c/mlir/lib/CAPI/Dialect/CMakeLists.txt#L10 probably sets the macros properly.

[2021-02-12 04:31] teqdruid commented on #578
switching to `add_mlir_public_c_api_library` didn't fix the linker error :(

[2021-02-12 04:37] mikeurbach commented on #543
I don't know the exact cause, but I'm still seeing some notable warnings from Verilator that I'm looking into based on vect_init_std.txt:

`%Warning-BLKSEQ: /tmp/a:89:11: Blocking assignments (=) in sequential (flop or latch) block`

This one seems like a special case, since other registers are generated as you'd expect. In the memory module, some wires got generated for the clock, which seems to

[2021-02-12 04:45] GeorgeLyon commented on #578
:( sorry this has become such an issue. If it ends up making sense to kick the can down the road, we can always put that macro directly into RTL.h (along with some lengthy prose) to guarantee it does the right thing.

[2021-02-12 04:54] lattner commented on #583
thx!

[2021-02-12 05:04] lattner commented on #572
Fixed in c883578, thanks!

[2021-02-12 05:04] #572 closed

[2021-02-12 05:19] lattner commented on #536
Something like this is cool, but please make sure it is optional guided under a flag of some sort (e.g. a pass flag).  This is trending into the "verilog dialect" sort of area, given that some clients won't want interfaces because downstream tools won't support them (or just due to personal preference).  This is great to explore though!

[2021-02-12 05:20] lattner commented on #536
Also, yes, it seems vaugly reasonable to me, but i'm not an expert on interfaces :-)

[2021-02-12 07:09] #583 closed

[2021-02-12 18:03] mikeurbach opened #587 "[Seq] Pipeline generator"
A common pattern seems to be generating an RTL (in the "register-transfer level") pipeline of some depth, most recently brought up here: https://github.com/llvm/circt/pull/585#issuecomment-778294457. This pattern appears in Handshake's [lowering](https://github.com/llvm/circt/blob/main/lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp#L1752-L1753) of memories for an analogous reason: to delay

[2021-02-12 18:26] teqdruid commented on #587
There are several very common patterns which are super easy to screw up.
I've been thinking a dialect which lowers into RTL/SV which contains these
higher-level constructs could be useful. E.g. Pipelines, FSMs, etc.

On Fri, Feb 12, 2021 at 10:04 AM mikeurbach <notifications@github.com>
wrote:

[2021-02-12 18:33] mikeurbach commented on #587
Putting those abstractions into a dialect sounds good to me. Now that I think about it, there is already a pipeline operation in the StaticLogic dialect: https://circt.llvm.org/docs/Dialects/StaticLogic/#staticlogicpipeline-circtstaticlogicpipelineop. I'm not sure what the intended layering of dialects is, but maybe we could standardize pipeline generators to go through that.

[2021-02-12 20:27] mikeurbach commented on #543
The remaining issue is related to the `Feedback to clock or circular logic` warnings. I found that even with the `-handshake-insert-buffer` pass, there are still cycles. It appears the ready network is not having its cycle broken by the buffer. I think this can be it's own issue to resolve, so I'll open a ticket.

[2021-02-12 20:49] mikeurbach opened #588 "[HandshakeToFIRRTL] Buffers do not break cycles in the ready network."
While debugging #543, I found Verilator reported combinational cycles in the circuit. I've reviewed the BufferOp lowering, and it does indeed seem to only buffer the valid and ready signals. I have a couple thoughts about this:

This is another place we are generating pipeline register like #587. If there was a  solid lowering from staticlogic.pipeline to RTL/SV, we could lower to that here instea

[2021-02-13 00:26] lattner commented on #559
Fixed in fa5aade, thanks!

[2021-02-13 00:26] #559 closed

[2021-02-13 01:47] lattner commented on #439
Ok, 132dfb8 implements the basic support for this, but will lead to wires getting declared in always blocks.  Can you give it a try and let me know if the wires need to be pulled out to the top level?  Thanks!

[2021-02-13 01:58] seldridge commented on #559
Awesome. Thanks for knocking this out, @lattner!

[2021-02-13 02:00] GeorgeLyon commented on #578
OK, so `add_mlir_public_c_api_library` is on the right track, but it seems that some additional work happens here:
https://github.com/llvm/llvm-project/blob/5631842d181016207e85e4d035d0c4383f34337a/mlir/lib/CAPI/CMakeLists.txt#L11

If I'm understanding correctly, this will run _before_ the RTL dialect C API is added to MLIR_PUBLIC_C_API_LIBS (thanks, cmake). Maybe there is something we need to do

[2021-02-13 03:23] teqdruid commented on #578
It seems to me we have two handicaps: 1) nobody involved knows how cmake works and 2) nobody understands C++ development on Windows.

Let's just keep this issue open until someone has the time and willingness to look deeper into this rabbit hole.

[2021-02-13 04:03] drom opened #591 "[FIRRTL] optimize away resetless registers [ConstantProp] [DCE]"
The registers in the following FIRRTL program

[code]

`firrtl-1.5.0` compiler eliminates registers, propagates constant through, produces the following Verilog.

[code]

Compiled with `firtool --lower-to-rtl` produces suboptimal Verilog:

[code]

[2021-02-13 04:13] teqdruid commented on #439
[code]

[code]

Shoot and a miss -- not valid. When I replace `wire` with `logic`, however, it lints clean.

Thanks for looking at this.

[2021-02-13 05:10] teqdruid commented on #588
I'm not sure the precise context here (and lack the mental energy to look into it at the moment), but there's nothing about ESI's PipelineStage which are ESI-specific -- it's a general valid/ready buffer. Would be a good candidate for this "grab bag" of common components dialect. Feel free to use it or move it.

The primitive it currently uses contains zero combinational paths from input token to

[2021-02-14 02:56] #570 closed

[2021-02-14 21:27] lattner commented on #439
ok, so I've been reading a bit about this, both the spec and posts [like this one](https://stackoverflow.com/questions/33459048/what-is-the-difference-between-reg-and-wire-in-a-verilog-module) to understand the difference between logic and wire.  Verilog is wacky ;-)

I think that we can model these things as logic always, since they are single assignment.  I'll give it a try to see what happens.

[2021-02-14 21:38] lattner commented on #542
I dug into this a bit and I don't think it make sense to merge these.  These are actually two different things: wire is a specific case of a net declaration, and reg is a specific case of a variable declaration.  They have different constraints (e.g. you can't declare a net in an always block).  I think we should keep them separate.

[2021-02-14 21:55] teqdruid commented on #439
My understanding of 'logic' is that it can be used in place of wire or reg,
so I tend to use it instead of wire and reg. It also has the advantage of
being able to use it in structs and aggregate types, which is not true of
wire I think.

On Sun, Feb 14, 2021, 1:28 PM Chris Lattner <notifications@github.com>
wrote:

[2021-02-14 22:05] lattner commented on #439
yeah it turns out that wire and logic/reg are completely different things.  The former is a net declaration the later is a variable declaration.  They are confusingly similar in some ways but in the spec they are quite different.

[2021-02-14 22:08] teqdruid commented on #439
Is there a reason we don't just use 'logic' everywhere?

On Sun, Feb 14, 2021, 2:05 PM Chris Lattner <notifications@github.com>
wrote:

[2021-02-14 22:10] lattner commented on #439
Please give e2b106c a try

[2021-02-14 22:13] lattner commented on #439
Oh that wasn't enough, one more step needed.

[2021-02-14 22:22] lattner commented on #439
Ok, I think that e043814 should wrap this up, please let me know if not or if you see any other problems, thanks!

[2021-02-14 22:22] #439 closed

[2021-02-14 22:26] lattner commented on #438
Can you share a small testcase?  I assume this is just when the operations are out of order?

[2021-02-14 23:07] lattner commented on #438
Fixed in 20eefde

[2021-02-14 23:07] #438 closed

[2021-02-15 01:12] teqdruid commented on #439
Confirmed. New integration test: 8cebdd197cf3891dacaafd7a0a47f9f72c96db14

[2021-02-15 01:15] lattner commented on #439
Thx!

[2021-02-15 01:51] lattner commented on #563
Fixed in 37fea95, thanks!

[2021-02-15 01:51] #563 closed

[2021-02-15 01:52] lattner commented on #564
Right, we need to decide where and when to emit these errors.

[2021-02-15 04:10] drom opened #593 "[FIRRTL] circuit with instance (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

Compiled with `firrtl-1.5.0` produces this Verilog:

[code]

[2021-02-15 04:16] drom commented on #564
I think firtool should report similar errors as firrtl.
One could initialize All ports with `U0 is invalid` command and then partially update connections one by one.

[2021-02-15 07:07] teqdruid commented on #439
Well, shit. There is a difference between wire and logic. From 6.4:

[code]

So we need `wire` when assigning an expression, but `logic` inside always blocks! (And -- of course -- this isn't caught by lint checks since it's valid verilog, but not what we want!)

[2021-02-15 17:07] mikeurbach commented on #588
Nothing that I know of in the CIRCT tree.

I think it is possible to lower to the SV dialect (with some RTL sprinkled in?) to implement this today. This could go through the `seq` dialect instead, eventually.

I think there are two things I'd like to accomplish here:

1. Add lowerings for staticlogic.pipeline which use the implementation of PipelineStage from ESI. This could be done in a few incre

[2021-02-16 01:33] teqdruid opened #595 "[ExportVerilog] Wire declared after use"
I've observed a wire declared after use:

[code]

Resulting from:
[code]

[2021-02-16 01:35] teqdruid commented on #595
Same occurred when I replaced `logic` with `wire`.

[2021-02-16 01:40] teqdruid commented on #595
The verilog produced isn't valid since `assert` needs to be in an `always` block, but that's ancillary.

[2021-02-16 01:47] teqdruid commented on #595
Huh. Questa is now accepting declarations which come after use. I could've sworn it didn't like that. Nevermind.

[2021-02-16 03:51] mikeurbach commented on #543
I made a patch to address the above buffer issue and fix another bug, but now I am running up against a Handshake scenario I'm not sure about. The attached file contains the sample program I'm using, which is basically the example vect_init_std above.

I'm compiling it like this before lowering to FIRRTL:

[code]

I've taken the graph from `-analyze-dataflow` and outlined the part of the circuit I

[2021-02-16 04:17] mikeurbach commented on #543
For what it's worth, this is the same behavior with this test case as well: https://github.com/llvm/circt/blob/main/test/handshake-runner/simple_loop.mlir.

So, I don't think it has to do with the memory operations necessarily.

[2021-02-16 04:33] hanchenye commented on #543
@mikeurbach This is interesting. Are there any hints why the red data input of `handshake.mux_17` cannot ready? Is this because the output of `handshake.mux_17` is also not ready? What about the valid signal on this path?

If the `simple_loop` test case has the same behavior, maybe we can debug on `simple_loop` to find out a minimal code piece that can reproduce this issue.

[2021-02-16 05:06] teqdruid commented on #523
I've started this effort here: https://github.com/llvm/circt/tree/rtl-comb

It's _way_ harder to extract only some ops.

[2021-02-16 05:09] mikeurbach commented on #543
The output of `handshake.mux_17` is valid and ready for the first cycle, so the mux fires and consumes the select token from the fork. After that, it is waiting for a new select token, but the fork cannot yet provide one because the red path will never become ready. Our lowering for MuxOp only marks the selected input ready, so the path in red cannot become ready until it has been selected, but th

[2021-02-16 05:40] teqdruid commented on #523
It's compiling now, but I'm getting `LLVM ERROR: Building op `comb.constant` but it isn't registered in this MLIRContext` in many of the tests. I'm inserting `comb::CombDialect` [here](https://github.com/llvm/circt/blob/0f52a5a8f3d6a83644504090bc2440457aec2c7e/include/circt/InitAllDialects.h#L33). What else must I do?

[2021-02-16 09:17] youngar commented on #523
@teqdruid If its the Conversion tests (something is converting TO the comb dialect), it has to be listed as a dependent dialect in the [ODS Pass declaration](https://github.com/llvm/circt/blob/main/include/circt/Conversion/Passes.td#L43)

[2021-02-16 18:19] lattner opened #597 "[SV] Behavioral constructs should verify that they live in procedural blocks"
Operations like sv.assert must be in procedural blocks.  We now have the ability to check for this, so we should add verification logic for this.  We should also have a "isOpInABehavioralBlock" predicate somewhere.

[2021-02-16 18:20] lattner commented on #595
The verilog emitter shouldn't do this, I'll take a look.  Thank you for the testcase!

$ circt-translate x.mlir -export-verilog
[code]

[2021-02-16 19:10] teqdruid commented on #523
It's not just the comb tests. The ones exhibiting this error are at a minimum:
[code]

The others are namespace issues, which may or may not turn into this once I fix them.

[2021-02-16 19:11] teqdruid commented on #523
Basically, any tests which run code with a `builder.create<comb::*>()`.

[2021-02-16 21:38] teqdruid commented on #523
turns out those tests had `circt-translate` in them so I had to add the new comb dialect to its registration calls.

[2021-02-16 21:52] lattner opened #598 "[RTL] Remove rtl.andr/orr, replace xorr"
We should eliminate rtl.andr/orr with the equivalent comparisons: `andr(x)` -> `x == -1` and replace  `orr(x)` -> `x != 0`.  This eliminates the number of canonicalization patterns we need to implement and reduces redundancy in the IR.

Given this, I think we should rename `rtl.xorr(x)` -> `rtl.parity(x)` but keep the same semantics.

[2021-02-16 23:16] mikeurbach commented on #543
@hanchenye I just shared the patches I've been carrying locally. I think both of those are necessary, but not sufficient.

I am able to reproduce the deadlock with the `simple_loop` example even when I include both patches.

I will keep digging on the simple example with no memories, but I wanted to share the patches first while I keep digging.

Here's a preview of where I'm at: it looks to me tha

[2021-02-17 00:06] mikeurbach commented on #543
Following on from my previous comment, I made some tests with different buffering strategies. I tried buffering the initial valid token in each Handshake FuncOp, but the circuits deadlocked. I tried buffering the output of every fork (not sure why, just a guess), and the circuits deadlocked.

Finally, I made the following observation about "channels with initial tokens": essentially every channel

[2021-02-17 01:23] youngar opened #606 "[FIRRTL] subindex op should support flips of vectors"
Running the FIRRTL compiler on benchmarks from SFC, the [HwachaSequencer.fir](https://github.com/chipsalliance/firrtl/blob/master/regress/HwachaSequencer.fir) fails with:
[code]

[2021-02-17 01:33] youngar opened #607 "[FIRRTL] Modules should not enforce use-before-def"
Running the FIRRTL compiler on benchmarks from SFC, the [FPU.fir](https://github.com/chipsalliance/firrtl/blob/master/regress/FPU.fir) fails with:
[code]

[2021-02-17 01:37] youngar opened #608 "[FIRRTL] Add option to report parse+verifier timing"
Firtool has a nice option to print the timing of each pass, `--pass-timing`, but it would be nice to have timers that encompass more than just the passes.  I would like an option to report the time taken to parse a firrtl file and construct the initial IR.

[2021-02-17 02:51] youngar opened #610 "[FIRRTL] Need a width inference pass"
The [regress/Ops.fir](https://github.com/chipsalliance/firrtl/blob/master/regress/Ops.fir) test is currently failing because we lack support for unknown width integers.  I figured I would report this so we make sure this test is working in the future.

[code]

A more minimal example:
[code]

[code]

[code]

[code]

[2021-02-18 18:47] seldridge commented on #610
I think this is in the bucket of "we need a width inference pass". We can get around this for the time being by compiling down to low FIRRTL using the SFC and then using this regression.

[2021-02-18 19:43] mikeurbach commented on #543
I have an update one this topic. In the patch I shared above, I updated the HandshakeInsertBuffer pass to only create a single buffer on each channel, when it was previously creating two buffers. The circuit I have been testing with vect_init was still deadlocking using that patch. I set it back to generating two buffers per channel, and kept the logic to generate buffers on every channel. With th

[2021-02-18 20:27] mikeurbach commented on #536
Other than lowering from Handshake, I don't actually have any use case at the moment that would use interfaces, so I will table this for now.

[2021-02-18 21:27] drom opened #615 "[FIRRTL] (LowerFIRRTLTypes) cpu / memory anomaly"
Running synthetic benchmark `test1` : https://github.com/circt/perf/blob/trunk/regress/test1.fir

Looking at the  execution timing report : https://github.com/circt/perf/blob/gh-pages/test1-2021-02-18.log

[code]

I observe that LowerFIRRTLTypes pass takes 80% of compile time, and probably allocates most of the 5GB memory.

The Memory usage graph over time looks like this :
![image](https://user-i

[2021-02-19 07:08] youngar commented on #191
Closed by #191

[2021-02-19 07:08] #191 closed

[2021-02-19 07:09] youngar opened #617 "[RTL] Instance should verify that its return types match the Module"
RTL does not appear to be checking that the number of arguments returned by InstanceOp match the module it is referencing.  The following does not produce an error:

[code]

[2021-02-19 16:40] seldridge commented on #607
As a temporary workaround you can re-order things using the SFC before passing them into the MFC.

[code]

This will technically lower to high FIRRTL from CHIRRTL, but will also run a transform that topologically sorts the modules so the MFC won't complain.

I'm torn on whether this is a FIRRTL spec bug or if we should allow use-before-def...

[2021-02-19 16:54] prithayan opened #621 "[SV] ifdef fusion/clustering"
ifdef with same conditions need to be fused.  This is similar to alwaysFusion logic, https://github.com/llvm/circt/pull/544, but the cases we need to handle are different.
We need to discuss which cases are legal. Here are some of the conditions we need to consider.

Case 1: Two consecutive ifdefs with same condition should be fused.
[code]
Case 2:
Consecutive ifdefs with same condition within an

[2021-02-19 17:15] seldridge commented on #621
Case 4 could be fused if we allow for re-ordering the `sv.ifdef` (possibly out of scope of the fusion discussed here.

Case 5 is tricky because fusing that will reorder output statements when `RANDOM` is defined. A similar thing would be if the middle `ifdef` is doing a blocking assign where re-ordering the statements would affect result. I'm not sure how to properly generalize what I'm describing

[2021-02-19 18:43] youngar commented on #621
Case 5 looks tricky, but since it is a `rtl.module` is a graph region it should theoretically be "legal" to merge?  Maybe I'm leaning too heavily on the graph region concept, but possibly it would be the IR that is wrong, not the transformation? Side note, maybe it would make sense to print Graph Regions differently?

For case 6, value naming `%1` is handled by the printer, it's not something you

[2021-02-19 19:19] JuanEsco063 commented on #543
@mikeurbach Sorry it took me so long to get back to you. I have been testing the branch you mentioned and with the new buffer insertion my test cases seem to be working so yay!

I even tested a simple mat mul kernel (see attached code) and I am getting the right results (see below)
![image](https://user-images.githubusercontent.com/70769188/108548393-a1cf8e00-72a0-11eb-8f5a-2a533567ee65.png)

My n

[2021-02-19 21:34] JuanEsco063 opened #623 "[SV] Expose memory control signals for interfacing"
While working with @mikeurbach to finish the details of implementing memories as discussed in #543 I am faced with the issue of interfacing the RTL code generated with a more general design, specially for loading data on the memories and reading back from them.

One way I have been able to achieve this (at least in the Xilinx architecture) is taking advantage of the dual port BRAM primitives. I ha

[2021-02-20 02:03] lattner commented on #607
Yes, this is a bug, tracked here:
https://github.com/llvm/circt/issues/163

[2021-02-20 02:03] #607 closed

[2021-02-20 02:04] lattner commented on #526
Is this done?

[2021-02-20 03:40] youngar commented on #526
Fixed in https://github.com/llvm/circt/pull/586.

[2021-02-20 03:40] #526 closed

[2021-02-20 06:33] teqdruid opened #625 "[ExportVerilog] Name conflicts with other module names"
The name generator in ExportVerilog.cpp doesn't check for conflicts with module names or other symbols. This is technically allowed but I don't think we should allow the name auto-uniquer to do it.

[2021-02-20 08:22] 85ayush commented on #617
I would love to work on fixing this bug. I am a beginner to open source contribution(basic knowledge of git and git hub), can you please guide me and I will give my 100%. I am good at c++. Currently I am studying in NIT raipur, and have got selected as a software engineer at CGI inc.

[2021-02-20 12:11] youngar commented on #617
Hi @85ayush, thank you for your interest but this is already being worked on over [here](https://github.com/llvm/circt/pull/622).

[2021-02-20 12:48] youngar commented on #598
@prithayan will be working on this

[2021-02-20 17:24] mikeurbach commented on #543
@JuanEsco063 thanks for testing it out. It's great you are seeing correct results! Hopefully we can get some integration tests for this flow established.

I think this can be considered the expected behavior right now, and we can treat adjusting this as an optimization. After a functional integration test is checked in, it would be easier to rework this and be confident in the correctness.

[2021-02-20 20:11] lattner opened #627 "[SV] Split sv.ifdef into two different operations"
It came up in a discussion yesterday that sv.ifdef should be split into the different nodes, one that is a `ProceduralRegion` that can be used in an always block, and one that is a graph region that can be used in a top level of an rtl.module.

This will allow us to build better assertions, e.g. check that a fwrite only occurs in `ProceduralRegion`'s

[2021-02-20 20:12] lattner opened #628 "[SV] Verify that procedural operations like fwrite only occur in ProceduralRegion's"
Right now you can put an fwrite at the top level of a module, but that isn't actually legal.  We should have these assert that they are in a ProceduralRegion.

[2021-02-20 20:24] teqdruid commented on #627
Why not do a recursive check that ops are in a procedural region?

On Sat, Feb 20, 2021, 12:11 PM Chris Lattner <notifications@github.com>
wrote:

[2021-02-20 20:27] lattner commented on #627
Splitting it this way just makes it simpler to implement the checks, and makes them local.

[2021-02-20 21:17] teqdruid commented on #627
Fair enough. I just worry about havIng to split a bunch of ops in this
manner, but this is probably the practical choice if it’s just one or a
small number.

On Sat, Feb 20, 2021 at 12:27 PM Chris Lattner <notifications@github.com>
wrote:

[2021-02-20 22:08] lattner commented on #627
Yep, I think it is just ifdef

[2021-02-20 22:09] lattner commented on #625
Is this a style thing?  I think they are in a different namespace.  Can you give an example of what you're concerned about?

[2021-02-20 22:14] teqdruid commented on #625
It’s just a style thing and I think it contributes to readability. I’ve got
a small example in the test for the PR I submitted on this.

On Sat, Feb 20, 2021 at 2:09 PM Chris Lattner <notifications@github.com>
wrote:

[2021-02-20 22:15] lattner commented on #623
Hey Juan,

I'm not exactly sure here, but I think this could a good topic for discussion at a wednesday design meeting.

@stephenneuendorffer  just FYI

[2021-02-20 22:17] lattner commented on #615
@mikeurbach  FYI,  I assume this is something algorithmic in LowerTypes that is easy to fix, but I haven't taken a look

[2021-02-20 22:51] sequencer opened #629 "[ESI] [Cosim] Question about Endpoint API design."
Hi, @teqdruid  I'm trying to experimentally integrate Chisel(Scala) API for Cosim.

I have a question about the decouple logic in endpoint design.
Cosim use the ready-valid decoupled signal for software<->simulator message transmission. My question is how to design this ready-valid signal pair?

From my understanding to the design of simulator, a DPI call is guarded by it's `clock`, `reset`, `cond

[2021-02-20 23:06] lattner commented on #542
Yes, I believe that even more so as I learn verilog.  I'm going to close this, but feel free to reopen if you disagree

[2021-02-20 23:06] #542 closed

[2021-02-20 23:09] lattner opened #630 "[RTL] rename RTL dialect to HW"
John [moved](https://github.com/llvm/circt/pull/599) the mechanics of the RTL dialect out to "comb".  The things we have left are rtl.module, types, and a few things for working with aggregates.  The name "RTL" isn't really applicable any more.

What is left is now the macro structure of the CIRCT project that I think will be the unifying theory of a bunch of interesting work.  I think we can get

[2021-02-20 23:11] lattner commented on #608
Yeah this would be very nice!

[2021-02-20 23:20] lattner commented on #606
Reduced testcase:

circuit HwachaSequencer :
  module HwachaSequencer :
    output io : UInt<1>[8]
    io[0] <= UInt<1>("h00")

[2021-02-20 23:52] lattner commented on #606
Fixed in 49a3f99, thanks!

[2021-02-20 23:52] #606 closed

[2021-02-21 00:12] teqdruid commented on #630
I agree.

I like `hw`. I also like `core` as in `circt.core`.

[2021-02-21 02:00] teqdruid commented on #629
The easiest way is to take the `!esi.channel` which goes to/from `esi.cosim` and use `esi.unwrap.vr` and/or `esi.wrap.vr` to get the data, valid, and ready signals. You can then adapt those signals pretty easily to a latency insensitive (aka LI or elastic) module. If you're trying to connect it to a non-LI module interface, that'll take a bit more thought.

I don't know much about Chisel, but here

[2021-02-21 03:26] sequencer commented on #629
@teqdruid Thanks for your explanation! Sorry, I misunderstood the design purpose of ESI, I used to think it's only designed for simulation only. After reading [this](https://llvm.discourse.group/t/elastic-silicon-interconnect-esi-modeling/1992), I understand it now.

My design purpose is borrowing infrastructure of cosim, adopt which to bridge arbitrary interface between Chisel bundle and software

[2021-02-21 03:26] #629 closed

[2021-02-21 05:43] lattner commented on #627
I'm going to take this, as this will simplify other things in my path

[2021-02-21 06:03] lattner commented on #627
Done in 906690b

[2021-02-21 06:03] #627 closed

[2021-02-21 06:03] lattner commented on #630
Which do you think is better?  I'll add it to the wednesday agenda.

[2021-02-21 06:07] lattner opened #631 "LowerToRTL should produce AlwaysFFOp instead of AlwaysOp"
See title

[2021-02-21 06:49] teqdruid commented on #630
I prefer `circt.core`, but then my first compiled language was Java which tends to use `core` in package names a lot.

[2021-02-21 06:52] lattner opened #632 "lower-types-errors.mlir shouldn't use firtool driver"
test/Dialect/FIRRTL/lower-types-errors.mlir is a unit testcase for the lower types pass - it should be written to use circt-opt with the lower types pass only, but it currently is using firtool.  We should switch it to make the test more stable and depend on less stuff.

[2021-02-21 07:02] lattner commented on #621
I implemented some support for this in the generalized alwaysfusion pass (now known as rtl cleanup), and eliminated the "!FOO" form of conditionals which defines away some of the complexity.

[2021-02-21 17:34] hanchenye commented on #534
Done in #537

[2021-02-21 17:34] #534 closed

[2021-02-21 17:36] #337 closed

[2021-02-21 17:54] lattner commented on #534
thx!

[2021-02-21 18:18] lattner opened #633 "[comb] Fix the syntax of comb.constant"
The syntax of comb.constant contains a redundant type due to some limitations of MLIR:
`%x = comb.constant (1 : i1) : i1`

We should just move to a custom parser/printer, because we're writing a lot of testcases with the wrong syntax and they'll be a pain to update.  The right syntax is:

`%x = comb.constant 1 : i1`

[2021-02-21 19:25] lattner commented on #621
I think this is done now, other than the scoping based transformation of "ifdef X with ifdef X inside of it can be simplified".  I don't think this will occur with the Chisel frontend though, so I think we're ok without it for the forseeable future.

[2021-02-21 19:33] lattner opened #634 "[comb] canonicalize single bit comparisons"
All icmp's of a single bit can be canonicalized into other operations, e.g. and/or/xor or constants, which will plug into other algebraic simplifications better.   For example:

`%9 = comb.icmp eq %8, %false : i1` -> `%9 = xor %8, 1`
`%9 = comb.icmp eq %8, %true : i1` -> `%9 = %8`
`%9 = comb.icmp lt %7, %8 : i1` -> `%9 = (7 == 0) & (8 == 1)`. -> recursively simplify.

[2021-02-21 19:35] lattner opened #635 "[comb] Canonicalize single bit muxes"
Seen in an IR dump, mux of a single bit can often be strength reduced, e.g.:

`comb.mux %5, %171, %false : i1`  can turn into: `comb.and %5, %171`

[2021-02-21 19:40] lattner opened #636 "canonicalize 'sv.if true' and 'sv.if false' away"
Particularly after recursive simplification it is common to get dead conditions.  I see this in one random IR dump:

[code]

(the sv.always nodes aren't getting merged because lower2rtl is generating them instead of alwaysff).

[2021-02-21 19:47] lattner commented on #636
We should also canonicalize if/ifdef when their then/else blocks are both empty.

[2021-02-21 20:07] lattner commented on #610
Right.  The -lower-to-rtl pass is producing this error, it assumes that widths have been inferred already (and many other lowerings have taken place).

[2021-02-21 20:35] lattner commented on #593
LowerTypes should handle this (which is tracked in another bug) but we shouldn't crash on unsupported stuff.  Fixed in 02e13d1, thanks!

[2021-02-22 00:55] #617 closed

[2021-02-22 02:18] lattner commented on #595
Fixed in 12808e5, thanks again

[2021-02-22 02:18] #595 closed

[2021-02-22 06:25] mikeurbach commented on #615
Thanks for the report, this is awesome. I will take a look at the performance in LowerTypes.

[2021-02-22 17:12] JuanEsco063 commented on #623
@lattner Great idea! Just added a comment on the shared document. Since I see a few points on the agenda I am not going to close this issue just yet in case we don't get to talk about it this Wednesday.

[2021-02-22 17:14] prithayan commented on #621
Closing this issue, Fixed as mentioned above in https://github.com/llvm/circt/commit/ee01f0817b3712cc849d4f539c37b26d12f6004b

[2021-02-22 17:14] #621 closed

[2021-02-22 17:22] lattner commented on #621
thx!

[2021-02-22 19:28] youngar commented on #523
When building with `BUILD_SHARED_LIBS`, I'm getting a link error:
[code]

I think this means we have to link Comb against RTL, but this is a circular dependency.

Have we considered moving all the RTL types (and `getBitWidth()`) over to the Comb dialect?

[2021-02-22 20:17] #477 closed

[2021-02-22 20:23] teqdruid commented on #523
Chris and I have been having a lengthy discussion about where to put the 'type' ops over in #604. This is another good reason not to have inter-dialect dependencies. It's also a good reason to move `bitcast` over to the rtl dialect.

I'm not aware of any logical deps from rtl to comb. I'll try removing that from cmake and see what goes boom.

[2021-02-22 20:27] teqdruid commented on #523
I forgot about the (near universal) dependency on `comb.constant`... It's only in one piece of code which I think only ESI uses.

[2021-02-22 20:53] teqdruid opened #640 "FIRRTLToRTL test fails with gcc 10.2 but not with clang 11"
[code]

Seems like the two lines are reverse with gcc. I suspect the recent change to ExportVerilog may have some compiler specific behavior...?

[2021-02-22 20:54] teqdruid commented on #640
This appears in @seldridge's code, but I don't think his commit is to blame.

[2021-02-22 21:26] teqdruid commented on #523
I fixed that circular dep, but there are others (mostly in ESI) and missing deps in exportverilog.

BTW, if you're building dynamic libs to speed up your builds, I've found that using lld rather then ld *significantly* reduces build time of static builds. `-DLLVM_ENABLE_LLD=ON`.

[2021-02-22 22:18] teqdruid commented on #523
See #641 for dynamic linking support fix

[2021-02-22 22:22] seldridge commented on #640
Ugh... Quickly checking... I think function argument evaluation order is undefined. GCC is likely doing something with a stack here while LLVM isn't.

The simplest fix (which I'll push) is to switch this to a `CHECK-DAG` as the order of those truly doesn't matter.

[2021-02-22 22:24] lattner commented on #640
Yeah, another likely possibility is if something is relying on non-determinstic things.  A classic example is depending on iteration order in a DenseMap since the elements are in a hash order.

[2021-02-22 22:31] seldridge commented on #640
I thought it might be iteration order, but I'm pretty sure this is just argument order: https://github.com/llvm/circt/blob/c9ef5a24dd94f692ecab5aedcf1d1b16f5ddd1ac/lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp#L1585

[code]

[2021-02-23 00:12] mikeurbach commented on #615
I've been taking a look at this a bit, and I think there are some algorithmic improvements that are pretty low hanging fruit. For starters, I've been looking at CPU flame graphs. Here's a representative one from the latest of the main branch:

![](https://gist.githubusercontent.com/mikeurbach/e1136e6309e1983f56e3e1f018b9c4a4/raw/b4086910017e485453b8ba641e67d34de6b2cb17/perf-original.svg)

If you c

[2021-02-23 00:20] lattner commented on #640
Yes, you're totally right.  i'll fix Thx!

[2021-02-23 00:22] lattner commented on #640
Fixed in 921e8e7, does that resolve the issue overall?

[2021-02-23 00:22] seldridge commented on #640
@lattner: I may have scooped you on this with c97f6689 and 5be0ad26. @darthscsi found a different, similar issue that 5be0ad26 was supposed to address due to the same thing going on here: https://github.com/llvm/circt/blob/921e8e7501b50990d3dabdcffee2a262581ccae6/lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp#L1273.

[2021-02-23 00:30] youngar opened #644 "[CI] General Continuous Integration Improvements"
Hey everyone,

I would like to expand what is tested with our CI to include GCC builds and `BUILD_SHARED_LIBS=on`.

[BUILD_SHARED_LIBS](https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html) builds all libraries as shared libraries.  Historically, this has mostly been used as a developer productivity flag, as it greatly speeds up linking. The real value in testing with this flag enab

[2021-02-23 00:31] youngar commented on #640
Tangentially related, I opened an issue about adding GCC builds here: https://github.com/llvm/circt/issues/644

[2021-02-23 00:34] stephenneuendorffer commented on #644
I think this is a good idea.  We need to be a little careful about the size of the github cache.  I'm not sure how much space we are using right now, but I think the cache might only be 5GB?

[2021-02-23 00:35] lattner commented on #640
@seldridge please revert the CHECK-DAG changes.  It is important that the compiler be deterministic here.  We should drop in code changes to make it so, instead of relaxing the tests.  thx!

[2021-02-23 00:36] lattner commented on #640
I agree the BPAssignOp line on 1273 also needs to be fixed.  C++ is a terrible terrible language :-(

[2021-02-23 00:38] seldridge commented on #640
I'll revert.

I had originally thought that this doesn't matter (either is functionally correct). However, if those are temporaries that are propagated to the Verilog, then you may wind up with `_T_0` for GCC and `_T_1` for LLVM. This is a real mess and needs to be avoided.

[2021-02-23 00:44] lattner commented on #640
Thanks!  It is really important for compilers to be determinstic.  Not doing so causes all sorts of issues, incl when you're trying to binary search bugs etc.

[2021-02-23 00:48] teqdruid commented on #644
Yep, 5GB but that may be per workflow rather than per repo as the documentation says. Cached builds from one workflow don't get used in another. Also, the windows llvm cache is pretty big and I haven't noticed any cache misses which I've attributed to cache eviction.

The other concern is that we have a limited number of builder agents, which is why I've been doing additional checks nightly rather

[2021-02-23 00:48] seldridge commented on #640
The line 1273 issue is fixed in 1329169a.

[2021-02-23 00:56] youngar commented on #644
That is really interesting, official doc [here](https://docs.github.com/en/actions/guides/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy).  From du on my mac, both `Debug` builds:
[code]
Maybe they are nice enough to let us keep 1 oversized cache entry?  I was going to bring up using ccache for CIRCT builds, but if it ends up evicting LLVM then it is not an option.

Th

[2021-02-23 02:27] drom commented on #615
Nice flame graph. Is it on the `test1`?

[2021-02-23 03:10] #633 closed

[2021-02-23 04:21] seldridge commented on #615
@mikeurbach: How are you generating that flamegraph? (I'd like to do the same.)

[2021-02-23 04:23] drom commented on #593
The code above is still crashing `firtool`

[2021-02-23 14:31] mikeurbach commented on #615
Yep. I traced the execution using `perf`.

[2021-02-23 14:36] mikeurbach commented on #615
I ran the test like this:

[code]

That creates a file `perf.data`. Then I used the tools and instructions [here](http://www.brendangregg.com/perf.html#FlameGraphs) to process that into a flame graph:

[code]

[2021-02-23 16:30] seldridge commented on #615
Thanks @mikeurbach!

[2021-02-23 18:28] drom commented on #615
@mikeurbach I do see improvements in the nightly build
Memory 5G -> 3.5G
Exec time 16s -> 12s
https://circt.github.io/perf/

[2021-02-23 20:12] #631 closed

[2021-02-23 20:14] #593 closed

[2021-02-24 01:05] youngar commented on #644
I would like to modify the Github actions for the nightly integration tests to only run on the the main CIRCT repo.  This should prevent them from running every night on everyone's forks. No one relies on nightly integration builds on their forks, right?

It looks like we can't disable it on forks from the `schedule` trigger, which is very annoying. I can disable it as a conditional on the workflo

[2021-02-24 02:07] teqdruid commented on #644
I've just disabled it in my fork manually on the actions page.

[2021-02-24 03:55] prithayan commented on #598
Fixed in the above PRs, 653, 652 and 642

[2021-02-24 03:55] #598 closed

[2021-02-24 04:07] drom opened #654 "[FIRRTL] (connect) 0-width error. LowerToRTL couldn't handle this operation"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` gives an error:

[code]

Compiled with `firrtl-1.5.0` produces this Verilog:

[code]

[2021-02-24 04:26] lattner commented on #598
nice work, thank you!

[2021-02-24 05:02] lattner commented on #654
great catch, fixed in 5e62bef thanks!

[2021-02-24 05:02] #654 closed

[2021-02-24 05:24] seldridge commented on #558
@mikeurbach: You were spot on with the lowering being the same between `SubindexOp` and `SubfieldOp`. I'm going to split out `SubaccessOp` lowering into a separate issue as that's a bit of a different beast.

[2021-02-24 05:27] seldridge opened #656 "[FIRRTL] Lower SubaccesOp"
As part of type lowering, FIRRTL `SubaccessOp` should be broken up into per-element reads fed into a mux tree.

Roughly, this should look like the following output from the Scala FIRRTL Compiler:

Input FIRRTL IR:
[code]

Output Verilog (`firrtl -i Foo.fir && cat Foo.v`):
[code]

[2021-02-24 05:44] youngar commented on #644
When I did I found that I couldn't manually launch the workflow anymore.

[2021-02-24 07:02] youngar commented on #644
I opened PR https://github.com/llvm/circt/pull/659 to skip the "Build LLVM" part of a PR build, I don't think its necessary any more.

[2021-02-24 15:33] darthscsi opened #661 "[LowerTypes] Multiple port memories cause segfault"
memories with multiple ports are not lowered correctly.  This segfaults:
[code]

[2021-02-24 16:04] seldridge commented on #661
Digging into this now... The one weird thing I see is that this is a read from a memory input port (which will only be cleaned up once this is lowered to RTL).

[2021-02-24 16:47] darthscsi commented on #661
A minor note: if a memory has only one field, the pass is still replacing it with an identical memory.

[2021-02-24 16:51] JuanEsco063 commented on #543
I found what can possibly be a bug ( I am not sure if you are aware of it and is expected behavior). The logic seems to rely on asynchronous reads to function correctly. However, in Xilinx architecture all reads are synchronous so if you replace the register-based memory for a BRAM block the circuit gives the wrong results.

[2021-02-24 17:21] darthscsi opened #664 "FIRRTL::MemOp accessors are very pessimistic"
FIRRTL::MemOp accessors are full of asserts and Optional returns which shouldn't be necessary as validation should ensure correct op data.

[2021-02-24 17:28] mikeurbach commented on #543
This is exactly right. When we create a FIRRTL memory, it is currently set to have a write latency of 1 cycle, and a read latency of 0 cycles: https://github.com/llvm/circt/blob/main/lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp#L1684

Until two days ago, this was the only kind of memory that FIRRTL supported: https://github.com/llvm/circt/pull/585.

There was also a pass landed yesterday

[2021-02-24 17:42] JuanEsco063 commented on #543
I see! Those two are really helpful! Do you know if your fork from #602 works correctly with these two new merges? (Is there a way to get all 3? I don't know if your fork is synced with the main repo) Is the information about the syntax of the new passes in the documentation?

[2021-02-24 17:55] #661 closed

[2021-02-24 17:57] mikeurbach commented on #543
I haven't updated my fork to include the latest main since those landed, but I can do that in a bit.

The new pass is documented here: https://circt.llvm.org/docs/Passes/#-firrtl-blackbox-memory-replace-all-firrtl-memories-with-an-external-module-blackbox

[2021-02-24 20:42] lattner commented on #630
Per discussion today in the design meeting, we agreed to go with "hw" for the dialect, and look into whether it makes sense to use "circt::hw::ModuleOp" and "circt::hw::ArrayType" for the C++ types or to flatten into "circt::HWModuleOp"

[2021-02-24 21:13] lattner opened #665 "Move "comb.constant" back to RTL/HW dialects"
In [this patch](https://github.com/llvm/circt/pull/660/files) we're having to add a dependency from SV dialect to the comb dialect just to get access to comb.constant.  I think this is a good reason to sink constant into the HW dialect, so we can have comb depend on HW, SV depend on HW, etc.

This is also how I expect the std dialect to sort out in the MLIR SW world.

[2021-02-24 21:59] darthscsi opened #666 "firrtl.printf losses order"
multiple printf in the same region are ordered in firrtl, hence they cannot be lowered to independent always blocks which have non-determinstic sideeffect order.

Firrtl spec 5.14.

[2021-02-24 22:03] darthscsi opened #667 "Always blocks not being merged"
I think location attribute is preventing merging of always blocks by the cleanup pass.  I haven't looked into it.
[code]
Output from firtool:
[code]

[2021-02-24 22:17] darthscsi opened #668 "ExportVerilog not splitting line for long variadic ops"
Not splitting single expressions which are long.
[code]
Makes something like:

[code]

[2021-02-24 22:19] darthscsi commented on #668
But all that stuff is on a single line.  This exceeds verilator parser buffer for tokens per line.

[2021-02-24 22:31] darthscsi opened #669 "MemOp with readwrite ports not lowered"
from firtool:
[code]

[2021-02-24 23:25] seldridge commented on #669
Dupe of https://github.com/llvm/circt/issues/480. Closing in favor of tracking there.

[2021-02-24 23:25] #669 closed

[2021-02-25 00:17] JuanEsco063 opened #670 "[FIRRTL][RTL][ExportedVerilog] Missing name in black box memory 'rtl.instance' op requires attribute 'instanceName'"
I am trying to generate RTL for a simple matmul kernel considering memories as black boxes with read and write latency of 1 after #493 and #585 (and modifying the corresponding files to include the changes of #602 ).

After running

`circt-opt matmul_std_lin.mlir -create-dataflow -handshake-insert-buffer -lower-handshake-to-firrtl > matmul_firrtl_1.mlir `

To generate the FIRRTL dialect file. Then

[2021-02-25 00:17] JuanEsco063 commented on #543
That would be great! Thanks @mikeurbach . Memory operations seem to be shaping up. With the black box and non-zero read delay plus the buffers I think we can have a very flexible and working framework.

[2021-02-25 05:17] drom opened #671 "[FIRRTL] (rem / mux) mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

[2021-02-25 05:27] lattner commented on #668
Awesome, let's hear it for line length limitations ;-)

The right thing here is for export-verilog to buffer up subtrees and emit them into temporaries if they exceed some line length.  80 columns ftw?

[2021-02-25 05:27] lattner commented on #668
Can you attach a self-contained rtl.module example?  I'll take a look at this when I get a chance.

[2021-02-25 05:31] lattner commented on #667
interesting, the location are included as part of the hash, see the OperationEquivalence:: methods in OperationSupport.cpp in mlir.  Are these using always_ff nodes?

[2021-02-25 05:47] youngar commented on #670
Hi!  Thanks for reporting this, I just starting looking into it.

1. In #463 it looks like we never started supporting instance with no names
2. I can modify the memory blackboxing to add instance names based on the memory name, circumventing 1
3. After that, there is a problem with blackboxing write memories

I implemented 2 and 3 locally, which I will open PRs for.  In the mean time, I've attach

[2021-02-25 06:52] lattner commented on #523
Yes, @teqdruid is right about the universal dependency on comb.constant.  [I think it should be](https://github.com/llvm/circt/issues/665) hoisted back up to rtl/hw dialects.

[2021-02-25 06:55] drom opened #672 "[FIRRTL] (rem / eq) mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

[2021-02-25 15:52] seldridge opened #675 "Emit better code for linear mux trees"
The FIRRTL Dialect doesn't have a switch primitive and instead relies on mux trees to describe conditional assignment. Some of these mux trees are super regular and could be _raised_ to more semantically meaningful Verilog/SystemVerilog constructs like `case`, `casex`, or `casez`.

Add the `case` variants to the SystemVerilog dialect and explore raising mux trees into these.

### Example

The foll

[2021-02-25 16:44] mikeurbach commented on #670
I think it is important to differentiate between no `instanceName` attribute, and an `instanceName` attribute set to `""`. I believe the former still leads to this error, but the latter should lead to an auto-generated name for the instance in Verilog output.

The change looks good to me in #674, but for the record, what I mean is if this [line](https://github.com/llvm/circt/pull/674/files#diff-41

[2021-02-25 16:51] darthscsi commented on #667
No, these are always blocks produced from lowering printf.

[2021-02-25 18:24] JuanEsco063 commented on #670
#674  is merged, solving this issue.

[2021-02-25 18:24] #670 closed

[2021-02-25 18:33] youngar commented on #670
@JuanEsco063  Small heads up that the "emit-wrapper=false" option for blackboxing memories is not able to lower all the way to verilog yet, we need to support wires with bundle types in firrtl-lower-types.

That is helpful, I didn't realize this. I saw that the `instanceName` was Optional<> in FIRRTL, but not in RTL. Would it make sense to make this attribute optional in RTL, or at handle this dif

[2021-02-25 19:28] #666 closed

[2021-02-25 19:37] drom opened #678 "[FIRRTL] (div / reg / add) mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

[2021-02-25 19:43] mikeurbach commented on #670
I think that was discussed in https://github.com/llvm/circt/issues/463#issuecomment-761236603. IMHO that section of `LowerToRTL` you linked to could potentially have an `else` branch that created an `instanceName` attr with `""` for the value to appease the verifier.

Do you mean memories with bundle typed values? Most of what firrtl-lower-types does is lower wires with bundle types, and that alre

[2021-02-25 19:54] youngar commented on #670
I meant wires with bundle types, I didn't see support - maybe I'm missing the place?  I started adding support [here](https://github.com/llvm/circt/commit/67bf4f1eb7c99495c1b65e82a2a8b2c6da116ab4), but I think its lowering the connect statement wrong when there is a duplex type.

[2021-02-25 20:09] drom opened #679 "[FIRRTL] (cat / gt) mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

Looks like `_tmp10` optimized to the different constant?

[2021-02-25 20:26] darthscsi commented on #668
Self contained example: https://github.com/llvm/circt/commit/db921e31ccb7c0b522bcf2e20be85fb92a8d0bdf

[2021-02-25 20:41] seldridge opened #680 "Handle wires in LowerTypes"
Aggregate wires are currently not being lowering in FIRRTL Dialect's type lowering pass. I think this is a straightforward addition of a visitor for wire ops in the pass.

Consider:
[code]

This is currently crashing when running:

[code]

With:

[code]

[2021-02-25 20:45] darthscsi opened #681 "module names with keywords aren't renamed in export"
for example, rtl-dialect.mlir has a module "inout" which isn't allowed.

[2021-02-25 20:45] mikeurbach commented on #670
Sorry, I saw #680 and now I understand.

[2021-02-25 20:55] seldridge opened #682 "Handle Registers in LowerTypes"
Aggregate *registers* are currently not being lowering in FIRRTL Dialect's type lowering pass. I think this is a straightforward addition of a visitor for wire ops in the pass.

Consider:
[code]

This is currently crashing when running:

[code]

With:

[code]

This is basically the same thing as #680, just split out to potentially expose more parallel work.

[2021-02-25 23:26] teqdruid commented on #523
If we were to move the bitcast op back as well, I don't think there'd be any dependencies between rtl and comb.

[2021-02-25 23:32] mikeurbach commented on #543
@JuanEsco063 just updated my fork with the latest from the main branch. I've been on some performance issues, but I'm going to resume testing this flow.

[2021-02-26 04:42] lattner commented on #523
Where does bitcast get cross referenced?

[2021-02-26 05:50] teqdruid commented on #523
Bitcast uses `getBitWidth()` in the RTL dialect. I think that's the only reference between the two dialects in either direction at this point.

[2021-02-26 15:44] #558 closed

[2021-02-26 21:21] JuanEsco063 commented on #543
Great! Thank you @mikeurbach. With #585 and #674 now everything seems to be in place and working for the most part ( I could be doing something silly).

@seldridge It seems something breaks when changing the read latency from 0 to 1 as supported in #585 (maybe because I am using the blackbox option added by @youngar in #493 AND the buffer insertion pass from #602 )

See attached zip for files. I a

[2021-02-26 23:16] darthscsi opened #690 "module instance with analog port not lowered correctly"
lowerTypes(analog) -> integer for instances, but modules expecting an inout<integer>
test case:
[code]
Running it:
[code]

[2021-02-27 04:34] seldridge commented on #681
Full example:

[code]

This currently produces:

[code]

Which Verilator linting catches:
[code]

[2021-02-27 04:49] seldridge commented on #543
@JuanEsco063: I think there may be some zip files missing here.

I'm still processing this, but a couple of notes:

1. The memory lowering and memory blackboxing are supposed to be separate things. A FIRRTL memory is either blackboxed (and eventually filled in with an FPGA-specific template or the output of a memory generator) or it's lowered to Verilog using some combination of what lower types d

[2021-02-27 08:29] #665 closed

[2021-02-27 17:40] uenoku opened #692 "[Comb] Allow operand and result of SExtOp to have the same width"
Currently operations like ` %0 = comb.sext %a : (i1) -> i1` are prohibited by the verification of `SExtOp`.
I think it would be more useful to allow an operand and result to have the same width and eliminate sext in canonicalization.

[2021-02-28 05:22] lattner commented on #692
Yes, I can see how this is useful, particularly with the createAndFold pattern that MLIR has. Go for it, thank you!

[2021-02-28 06:08] lattner commented on #690
Fixed in 6020eac, thanks!

[2021-02-28 06:08] #690 closed

[2021-02-28 06:09] lattner commented on #523
Ok yeah, it is fine for comb/SV to call into RTL, just not the other way around.

[2021-02-28 06:25] lattner commented on #682
Random comment, but in addition to this bug, we should make LowerTypes clealy emitOpError on things it doesn't know about yet.  This will make it more nice/resilient to future firrtl dialect extensions.

[2021-02-28 06:32] lattner commented on #671
I'm pretty sure this is an SFC bug, note the last line:

`assign tmp28 = _GEN_1[13:0] ? tmp25 : {{25'd0}, _tmp24};`

It should only be looking at the low 11 bits of the remainder result, not the low 14 bits, because the condition to the mux is `tail(asUInt(tmp18), 10)`.

@seldridge do you agree?

[2021-02-28 06:34] lattner commented on #672
This looks like an SFC bug, it incorrectly eliminated a truncation to 2 bits due to tmp16.  Do you agree @seldridge ?

[2021-02-28 06:47] lattner commented on #679
This is an SFC bug, we are correctly folding `gt(UInt<11>(0), tmp6)` aka `0 >u tmp6` to false, it is incorrectly folding it to true.  @seldridge do you concur?

[2021-02-28 06:53] lattner commented on #678
I didn't analyze this deeply, but I think this is just yosys getting confused by the division by zero.  Does this still show a difference if you remove that?

[2021-02-28 20:11] seldridge commented on #671
tl;dr: Looks like an SFC bug. Emission of a mux with a multi-bit condition is clearly wrong here.

Couple of things:

1. The SFC is allowing muxes (or whens) to use a selection signal that isn't one-bit. E.g., it accepts the following while CIRCT (rightly?) rejects this:

[code]

I opened https://github.com/chipsalliance/firrtl/issues/2093 to track this. This is largely orthogonal to this issue, b

[2021-02-28 20:14] seldridge commented on #672
Yeah, SFC bug. Superficially, this may be the same thing as #671. The issue appears to be related to use of `asUInt(rem(...))` for a `rem` on `SInt` types resulting in (somehow) the bit extract getting removed.

[2021-02-28 20:19] seldridge commented on #678
This may be subtly different. I don't know how Yosys is viewing this... The division looks, superficially, to both be dividing by zero, but requires Yosys to understand that `7'b0` and `1'b0` are the same and that the constant propagation is okay. I don't know if it views the constant propagation as making these equivalent or not.

I'd be curious if manually doing the constant prop makes these equ

[2021-02-28 20:31] seldridge commented on #679
Looks like an SFC bug related to zero-width handling.

The SFC is converting:

[code]

Into:

[code]

During the pass `firrtl.passes.ZeroWidth`. This looks wrong as it's an illegal type change of `tmp6` from `UInt` to `SInt` which cause the `gt` constant prop. to go the other way.

[2021-03-01 00:29] lattner commented on #675
Ok, I added IR and ExportVerilog support for sv.casez in patches leading up to 7b7b7b6.  If the printed IR looks right to you then I'll add some pattern matching to form these nodes.

[2021-03-01 00:29] lattner commented on #671
Thank you for confirming this @seldridge !

[2021-03-01 00:29] #671 closed

[2021-03-01 00:29] lattner commented on #672
Thanks!

[2021-03-01 00:29] #672 closed

[2021-03-01 00:30] lattner commented on #679
Thanks, I'm going to close this from the circt tracker then.

[2021-03-01 00:30] #679 closed

[2021-03-01 04:49] lattner commented on #678
Yeah, constant propagation isn't hard, it is "don't blow away all the wires" that is more tricky.  Once annotations land we will know what wires need to be kept around.

Does SFC constant prop through all wires, even ones with don't touch annotations on them?

[2021-03-01 15:55] seldridge commented on #678
Yes, if something is marked "don't touch" then it just won't be removed. However, it isn't blocking constant propagation.

It's been discussed that this is too coarse and you really want to have behaviors separately available: (1) something should show up in the output and (2) something should be an optimization barrier.

[2021-03-01 17:25] seldridge commented on #675
@lattner: I think this looks fine modulo use of `'?'` in the match as opposed to `'x'` (which I don't think works with `casez`.

After looking into this more, we should tread carefully with promoting things to `casez`. Cliff Cummings analyses are probably worth examining: http://www.sunburst-design.com/papers/CummingsSNUG1999SJ_SynthMismatch.pdf.

From what I've gathered from skimming some `casez`

[2021-03-01 18:05] seldridge commented on #675
Small clarification. The `'x'` needs to be changed to either `'z'`, `'Z'`, or `'?'` for `casez`. Any of these are equivalent. However, rough consensus is that `'?'` is preferred over the former two.

I expect that tooling or linting will want one style over another. I have not verified this hypothesis with any data points.

[2021-03-01 18:20] lattner commented on #675
Cool, I'll change it to `?`.

I think the concerns about casez is mostly about human authored cases, but I think there is an important point to define: I think we should require casez to always be "total", e.g. that the last case is always required to be a `default`.

[2021-03-01 19:13] lattner commented on #668
btw, I'm actively working on this.

[2021-03-01 19:34] lattner commented on #668
Significant progress is in the patches leading up to 51de453

[2021-03-01 19:52] lattner commented on #675
Switched to ? in a4a857e

[2021-03-01 20:33] #667 closed

[2021-03-01 22:05] darthscsi opened #699 "[FIRRTL] RegReset may have reset values narrower than register"
We aren't handling values narrower than the register being used for reset.  FIRRTL generates these.
[code]

[2021-03-01 23:32] #699 closed

[2021-03-02 01:13] #692 closed

[2021-03-02 02:20] drom opened #701 "[FIRRTL] wire inside always block"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

An output Verilog has an error, declaring `wire` iside `always_ff` block.

[code]

[2021-03-02 06:59] lattner commented on #668
Done in bf1a3dc

[2021-03-02 06:59] #668 closed

[2021-03-02 07:00] lattner commented on #675
See also the crazy case that seems like it would be better as a casez in https://github.com/llvm/circt/issues/668

[2021-03-02 17:34] #480 closed

[2021-03-02 17:38] GeorgeLyon opened #706 "Support for inferring result types"
Operations like `array_create`, `array_get`, `constant`, and likely many others can participate in result type inference. I haven't dug into this enough to figure out what is needed to enable this but the C API entry point is here: https://github.com/llvm/llvm-project/blob/9a2e2de15f108f943ae50e6183719a4af81104e8/mlir/include/mlir-c/IR.h#L259

I wouldn't mind if someone took a stab at this :)

[2021-03-02 17:50] darthscsi commented on #701
Additionally the else statement has two statements and no begin/end

[2021-03-02 17:57] seldridge commented on #480
Implemented this as another addition to `LowerTypes`. Note: that I'm fine if this is one of the things split out into the hypothetical "big lowering pass" and "lower types" or if "lower types" continues to evolve into "big lowering pass" (which is the direction that #691 pushes towards).

[2021-03-02 18:08] seldridge commented on #682
Closed via #686.

[2021-03-02 18:08] #682 closed

[2021-03-02 18:09] seldridge commented on #680
Fixed via #696.

[2021-03-02 18:09] #680 closed

[2021-03-02 20:59] lattner commented on #678
Re: wire constprop, Ok thanks!

I don't see an equivalence problem (other than divide by zero) in the above, does anyone else?  If not, I think we should close this as "behaves correctly".

[2021-03-02 21:16] youngar opened #708 "[CI] Unable to pass LLHD tests when building with GCC and BUILD_SHARED_LIBS"
When adding the `BUILD_SHARED_LIBS` option to the GCC build job in our CI, there is a problem with the JIT not being able to find symbols defined by the LLHD wrappers library:

[code]

Some notes:
1. In this build MLIR is built with Clang, while CIRCT is built with GCC
2. `circt-llhd-signals-runtime-wrappers` is a SHARED library in CMakeLists.txt, so `BUILD_SHARED_LIBS` should not affect how this

[2021-03-02 21:19] drom commented on #678
I am not sure that:

[code]

is equivalent to:

[code]

assuming `tmp6` is signed.

[2021-03-02 21:46] youngar opened #709 "Fix GCC Warnings"
There are currently some warnings when building with GCC, listed below.  Most of these should be pretty easy to fix.

1. Control reaches end of `sv::CaseZOp::getLetter`
[code]

2.  In `firrtl::verifyMemOp()` portNamesSet may be uninitialized

This problem manifests multiple times, possibly everywhere SmallDenseSet is used.

[code]

3. Possibly uninitialized value in `firrtl::parseType()`
[code]

4

[2021-03-02 22:10] lattner commented on #709
Wow ok.  Well it sounds like llvm_unreachable needs to be used in a bunch of places.  I'd recommend splitting off the DenseSet related issues to a discussion on the llvm phabricator.

[2021-03-02 22:54] youngar commented on #644
PR for adding GCC to the PR gating builds here: https://github.com/llvm/circt/pull/702. The PR switches out one of the two clang builds for gcc.

[2021-03-02 23:09] teqdruid opened #710 "Set up a Python<-->CIRCT interface and add some tests"
The MLIR python [bindings documentation](https://mlir.llvm.org/docs/Bindings/Python/) make bindings to Python sound easy to set up, though somehow I suspect differently. @GeorgeLyon are you working on the C API for Python integration? Or was it Swift?

I'm thinking it may be interesting to use Python as a design entry language a la MyHDL. It may also be interesting to let hardware guys play around

[2021-03-02 23:30] seldridge commented on #710
I do think having a Python interface to write simple transforms would be immensely powerful. A Verilog engineer might envision some simple transform (e.g., hierarchy manipulation or batch name changes), but it is prohibitive to expect a Verilog engineer to go hack up a C++ MLIR transform.

Analogously, pandoc (Haskell document conversion project structured like a compiler running passes over a doc

[2021-03-03 00:19] GeorgeLyon commented on #710
Yup, I'm working on Swift, and I'm betting we can make development pretty nice for both the entry-level use case as well as more advanced usages. Currently I'm only focusing on emitting MLIR from an embedded DSL, but passes are a somewhat straightforward generalization of this.

On the Python side, @stellaraccident and her team have been doing some great work, and those bindings are far further al

[2021-03-03 01:01] mikeurbach commented on #710
I set up Python bindings to CIRCT locally, and it kind of [just worked](https://llvm.discourse.group/t/help-needed-installing-and-releasing-python-based-mlir-projects/2131/27). I agree they can be super useful for a variety of reasons.

For the use case of writing transformations in Python, I think we still have a ways to go to make this palatable to end users, but I'm definitely hoping to getting

[2021-03-03 02:37] stellaraccident commented on #710
I'd be happy to offer help/advice on getting the python bindings usable in your setup. I'm (slowly) working through last mile usability issues to make them a good place to hack on higher level ml dialects and there are still a couple of disconnected pieces. So far, I've been able to express everything needed but not at the level of simplicity I expect in all cases.

The real weak point right now i

[2021-03-03 02:38] stellaraccident commented on #710
And on the transformation side, sounds like you want the PDL work to go somewhere. I think River is working on that but haven't checked recently.

[2021-03-03 11:30] #635 closed

[2021-03-03 18:28] lattner opened #711 "RTLCleanup is slow"
After mike lands his patch in PR #651, it looks like we can make firtool on [Aliaksei's testcase](https://github.com/llvm/circt/issues/615) go way faster by speeding up RTLCleanup's use of hasNoMemoryEffect.

I'll take a look at this after Mike lands his patch.

[2021-03-03 19:10] youngar commented on #644
PR for expanding the nightly testing here: https://github.com/llvm/circt/pull/712.

[2021-03-03 21:20] mikeurbach commented on #68
@stephenneuendorffer is this the issue for the "tarpit" you were mentioning today about memrefs as inputs to Standard funcs? Just want to make sure it's tracked and we have a clear place to discuss and eventually resolve with Juan and Jianyi.

[2021-03-03 22:35] teqdruid commented on #710
I think it's fair to start with what you've got. Can you get it into a form suitable for PR'ing?

As for an MVP, I don't know what's reasonable since I haven't looked into it. For me, I'm looking for a Python API which allows my internal customers to migrate their existing ad-hoc verilog generation scripts into CIRCT. At first it'd be creating hw/comb/seq/sv ops, then we'd move higher into the sta

[2021-03-03 23:37] darthscsi opened #713 "Wire in always block, part long line splitting"
Possibly the cause of #701.  When long lines are split in EmitExpression, the temporary is later emitted in the always block.  The temporary emitter doesn't know about the correct type of declaration to make this legal (and @drom would say you should never do this as a matter of style).  The reason this particular temporary is emitted there rather than at the rtlmodule scope is that it started lif

[2021-03-03 23:40] lattner commented on #615
Hey @drom, what does the time/mem look like with Mike's recent PR 651?  It was:
Memory 5G -> 3.5G
Exec time 16s -> 12s

[2021-03-03 23:40] lattner commented on #615
Memory 5G -> 3.5G
Exec time 16s -> 12s
https://circt.github.io/perf/

[2021-03-03 23:40] darthscsi opened #714 "long-line splitting breaking begin/end"
Another case from #701.  if we split a long line which is the only statement inside an if block and the temporary gets generated inside the some block, then we don't correctly generate the begin/end pair for the now-two-statement block.

It's fair to ask whether we should be putting the temporaries in the if-scope or in the op's original scope.

[2021-03-04 00:08] mikeurbach commented on #710
What I have is really just a simple pybind11 module that exposes the `registerAllDialects` and `registerAllPasses` C API so I can have a `circt-opt`-like experience from Python. If that's useful, I can start there for sure.

It sounds like setting up [dialect and operation wrappers](https://mlir.llvm.org/docs/Bindings/Python/#integration-with-ods) in Python is what people are most interested in. T

[2021-03-04 00:56] lattner commented on #615
I just landed 0e7f4cd, which changes this:

[code]

into this:

[code]

This is a debug build though, so all timings are dubious.

[2021-03-04 01:45] lattner commented on #701
ooh, this is definitely my bug.  Will take a look ,thanks!

[2021-03-04 02:08] lattner commented on #701
The begin/end problem is fixed in 867438f

[2021-03-04 02:09] lattner commented on #701
I mean c46ec9e

[2021-03-04 02:30] lattner commented on #701
Fixed in c29ca85, thanks for tracking this down!

[2021-03-04 02:30] #701 closed

[2021-03-04 02:31] lattner commented on #678
K.  Is anyone able to identify a definitive problem with our output? :-)

[2021-03-04 02:39] seldridge commented on #678
@drom talked to me about this. The issue appears to be in this sequence:

[code]

This appears to be doing a sign extension of an unsigned type (`_T`) by repeating the most-significant bit. That is correct for a signed type, but incorrect for unsigned. So, there may be a problem here with an incorrect signed type getting generated somewhere. I expect that looking at the intermediate pass output wo

[2021-03-04 03:47] drom commented on #615
Great news! And the memory went 3.3G -> 140M
Tomorrow I will need to add the test2 !

[2021-03-04 09:58] teqdruid opened #718 "TypeAlias type ?"
As part of the typedef conversation #645, @darthscsi came up with a [few ideas](https://github.com/llvm/circt/pull/645#pullrequestreview-601256121) which avoid the implicit typedef that I assumed in that PR. Although I initially favored an operation attribute (which would have to be on every op which could potentially become a Verilog statement), I now favor the wrapper type option to "annotate" a

[2021-03-04 16:25] darthscsi opened #720 "temporaries output in the middle of blocks"
Consider the test case below.  A temporary is made for 610, which is output after the first if block.  Verilog requires variable declarations to be at the beginning of blocks.

[code]

[2021-03-04 16:48] darthscsi commented on #720
Section 9.8.1 of 1364-2005
https://www.eg.bucknell.edu/~csci320/2016-fall/wp-content/uploads/2015/08/verilog-std-1364-2005.pdf

[2021-03-04 17:19] lattner commented on #615
Oh noe!  It will never stop ;-)

[2021-03-04 19:14] lattner opened #721 "[SV] Canonicalize sv.if blocks with empty then's into inverted conditions"
It is a generally good idea to turn: `sv.if %cond {} else { stuff}` into `%inverted = comb.xor %cond, 1; sv.if %inverted { stuff}`.

This allows merging the invert into conditions etc.

[2021-03-04 19:26] lattner commented on #720
Verilog is really annoying, sigh.  I'll take care of this tonight.  Thank you for catching this!

[2021-03-04 19:43] teqdruid commented on #710
I've really only done the same and it sounds like this is what we want. I'd appreciate if you were to do this.

[2021-03-05 00:17] #636 closed

[2021-03-05 01:46] mikeurbach commented on #710
I'm at the point where I can say `import circt`, and should have a PR for that groundwork tomorrow or over the weekend. I'll set up the Python wrappers for RTL and SV after that, as well as an ExportVerilog binding.

[2021-03-05 02:39] stellaraccident commented on #710
Nice! Glad/hope it proves useful. So you know, we've been doing the tablegen work for the dialect and operation wrappers on an as needed basis and there are still gaps. It's got some mileage on it, though, and works for a decent swath of things, give or take occasional hacks still needed. Let me know if you run up against limitations.

[2021-03-05 04:01] teqdruid opened #724 "[ExportVerilog] Wire declaration and definition "_tmp" output twice"
I haven't tracked this down, but in a certain condition this line is emitted twice (identically) in different areas in the same scope:

[code]

The wire name points to https://github.com/llvm/circt/blob/main/lib/Translation/ExportVerilog/ExportVerilog.cpp#L956. I'll look into this further later, but I figured there is a decent chance that would be enough for @lattner to know what's going on.

[2021-03-05 05:09] lattner commented on #724
I don't know offhand, do you have a testcase?

[2021-03-05 05:29] lattner opened #725 "Add `sv.z` and `sv.x` ops"
Per discussion on PR #717, we should add ops that work like rtl.constant but that produce z/x values.

[2021-03-05 05:34] lattner opened #726 "`comb.merge` verilog emission needs to be looked at"
`comb.merge` emission always prints as a wire (see `getVerilogDeclWord`) but this won't work in a procedural region.  We need to figure out how to emit this correctly.  Further, repeated assignment in a procedural reasons has "last assignment wins" semantic which also won't work for merge.

[2021-03-05 05:58] teqdruid commented on #724
Not a simple one... Yet.

On Thu, Mar 4, 2021, 9:09 PM Chris Lattner <notifications@github.com> wrote:

[2021-03-05 06:32] lattner commented on #726
indeed, the testcase in sv-dialect.mlir: issue439 is about to be broken by this.

[2021-03-05 06:40] lattner commented on #720
Fixed by be85f3c.  This is a big change though and may have regressed other things (I'm sorry in advance that I still don't know verilog).  This also broke mergeop emission when it is in a procedural region, but I don't think that will be a blocking issue.   That is tracked by Issue 726

[2021-03-05 06:40] #720 closed

[2021-03-05 07:30] teqdruid commented on #724
[code]

[2021-03-05 07:31] teqdruid commented on #724
I'm not sure if this necessarily involves interfaces or not, I just whittled this down from a larger one which involved interfaces.

[2021-03-05 07:32] teqdruid commented on #724
The above testcase emits:

[code]

[2021-03-05 07:36] teqdruid commented on #724
If I move the `sv.interface.signal.assign` after the `struct_create`, it works.

[2021-03-05 08:43] teqdruid commented on #724
Also, if I comment out the block starting here https://github.com/llvm/circt/blob/main/lib/Translation/ExportVerilog/ExportVerilog.cpp#L958 it works fine.

[2021-03-05 11:08] uenoku commented on #721
I think it is neccesary to have SV->Comb dependency to perform this operation.
Is it fine?

[2021-03-05 17:14] lattner commented on #721
Yeah I think this is ok.  SV will be an uber dialect that depends on a lot of other things, incl `seq` when it exists.  We should make sure that comb and rtl don't depend in it though.

[2021-03-05 19:10] darthscsi opened #728 "splitting variadic expressions in a procedural block makes a temporary at the wrong place"
splitting variadic expressions in a procedural block makes a temporary at the wrong place.  This is a follow-on to #720
[code]

[2021-03-05 19:10] darthscsi commented on #720
Made a new bug for the remaining cast.  #728

[2021-03-05 19:20] lattner commented on #728
Thx, *shakes fist at verilog*, I'll take a look tonight or this weekend at the latest

[2021-03-05 19:25] darthscsi opened #729 "sv.ifdef.procedural isn't as procedural as other procedural blocks"
ifdef.procedural blocks aren't true procedural blocks, in that you can't declare variables in them safely.  Consider:
[code]
vars could either be explicit in the ir or generated during lowering.  If cond is true, the result is invalid verilog.  variables declarations would have to be hoisted to otuside the ifdef to be at the beginning of the enclosing block.  For temporaries from common subexpress

[2021-03-05 19:28] lattner commented on #729
Is this a semantic issue or a verilog printing issue?  The verilog printer tries to handle this today (but misses for the "too long expression" case as you pointed out). If we have other cases that are problematic, we could emit them as:

`ifdef x
begin
...
end
`endif

Which would allow var declarations IIUC.

[2021-03-05 19:40] darthscsi commented on #729
yea, it just seems non-ifdef like to generate output outside the ifdef.  One could reasonably want to do:
[code]
My first problem is right now, without outputting declarations early, the legality of the if block depends on context.  If we do output declarations early, then we have to rename one of them, which would be surprising in the output, if this is expected to work like an actual ifdef.

[2021-03-05 19:41] darthscsi commented on #728
Verilog doesn't always make me sad, sometimes I'm not thinking about it.

[2021-03-05 20:51] darthscsi commented on #678
Perhaps a quick simulation to see divergence?

[2021-03-05 22:27] drom commented on #615
Great! I like it

[2021-03-05 22:28] #615 closed

[2021-03-06 00:56] teqdruid opened #733 "Handshake <--> ESI connector"
Handshake has ready/valid semantics. ESI has valid/ready semantics. Let's marry them.

[2021-03-06 01:32] #628 closed

[2021-03-06 01:37] mikeurbach commented on #733
I investigated this once, so let me share what I found.

This will need to occur after Handshake has been lowered. The valid/ready signals are implicit in the Handshake dialect, but to integrate with ESI, we need actual Values for valid/ready signals.

The integration should probably happen at the top level module in the lowered circuit. Technically every Handshake component has valid/ready semant

[2021-03-07 03:24] teqdruid commented on #733
Yeah, ESI is not intended for every connection. I think it's appropriate to have a 'ToESIFromHandshake' and a 'ToHandshakeFromESI' op which get lowered to `esi.wrap.vr` and `esi.unwrap.vr` whenever in the lowering the valid/ready signals get realized. Presumably, this would just be at module boundaries (at least at first).

This is exactly what I was thinking, though I didn't know enough about the

[2021-03-07 04:25] lattner commented on #728
Yes, that sounds about right.  this is what compilers are supposed to take care of for us.  :-)

Fixed in e2f3f69, thanks again!

[2021-03-07 04:25] #728 closed

[2021-03-07 04:27] lattner commented on #729
In practice, you can't actually do this.  The equivalent code would end up getting printed by the verilog emitter like this:

logic b : i9
logic a : i6
logic a_0 = i9

ifdef.proc
  b= math on a
else
  var a : i9
  b = math on a_0
endif

Please let me know if there is an IR example that isn't printing right.  I think we're good here.

[2021-03-08 17:15] lattner commented on #678
Yeah, I'm happy to help fix this ,but I'd apprecaite help with the analysis.  Something like "this short fir snippet turns into this verilog code, which is incorrect because of X".

[2021-03-08 17:49] prithayan commented on #681
Fixed in https://github.com/llvm/circt/pull/697

[2021-03-08 17:49] #681 closed

[2021-03-08 20:47] darthscsi opened #736 "Conjunction of equality tests generates bad code"
Conjunction of equality tests generates bad code.
[code]
Produces:
[code]
Verilator rightly complains:
[code]

[2021-03-08 21:18] mikeurbach commented on #733
Thanks for the input @teqdruid.

I don't think so; FIRRTL operations only accept FIRRTL types, so it's an explicitly closed world in the type system. When FIRRTL lowers itself to RTL/SV, it first replaces all of the FIRRTLModules with RTLModules, and keeps the operations within each module in the FIRRTL dialect. There is a second pass that then lowers the internal operations to RTL/SV.

This appro

[2021-03-08 22:53] darthscsi opened #738 "alias not support by verilator"
Right now we generate alias for firrtl attach.  Verilator doesn't like this.  SFC includes a verilator guard for this construct.

[2021-03-08 22:56] darthscsi opened #740 "Analog generating awful code"
We need to aggressively check if firrtl.analog arguments are just passed to modules and not generate intermediate wires or aliases for them.

[2021-03-09 01:32] lattner commented on #738
Lower2RTL already puts out an ifdef, I think it would be ok to change that ifdef to cordon off Verilator

[2021-03-09 02:44] lattner commented on #733
Agreed, FIRRTL has a closed world assumption.  I'd recommend moving Handshake off of FIRRTL now that the lower level things are up to speed.  We still need a good seq dialect and other mid level abstractions of course.

[2021-03-09 02:47] teqdruid commented on #733
I'm planning on writing that seq motivation document within the next 24
hours.

Is there any particular reason that FIRRTL doesn't support RTL module
instantiations as its FFI?

~John

On Mon, Mar 8, 2021 at 6:44 PM Chris Lattner <notifications@github.com>
wrote:

[2021-03-09 02:50] lattner commented on #733
FIRRTL dialect does support "FExtModuleOp" which allows talking to external verilog modules, even ones that are parameterized.  There is no support for talking to RTL dialect modules but such a thing could be added in theory.  I don't want to do it until there is a specific reason though, because we're trying to keep FIRRTL minimal and focused and push the cool stuff elsewhere.

[2021-03-09 05:49] mikeurbach opened #742 "[Handshake] Move HandshakeToFIRRTL lowerings to target RTL/Comb/Seq dialects"
The HandshakeToFIRRTL lowering existed before most of the RTL and Comb dialects existed (and the Seq dialect does not exist as of today). Targeting FIRRTL was a practical choice, but pains have been taken [to avoid being too specific to FIRRTL](https://llvm.discourse.group/t/handshake-lowerings-for-merge-like-and-branch-ops/2054) so that one day we can target the CIRCT-native dialects to model har

[2021-03-09 05:52] mikeurbach commented on #733
Agreed, and I think this has been discussed before. Besides `BundleType`, all of the Handshake lowerings are using low-FIRRTL constructs [to avoid being too specific to FIRRTL](https://llvm.discourse.group/t/handshake-lowerings-for-merge-like-and-branch-ops/2054), so this should be relatively straightforward to implement. However, I consider this a separate issue, so I opened one here: https://git

[2021-03-09 20:40] lattner commented on #678
I don't see anything wrong with this.  I think this is completely tied up with the equivalence checker getting confused by division by zero.

[2021-03-09 20:40] #678 closed

[2021-03-10 03:07] mikeurbach commented on #710
The initial PR is in. Next up, going to need to bump LLVM to pick up the latest and greatest w.r.t. generating dialect bindings. Then, I will try to actually set those up so we can build RTL/Comb/SV ops from Python.

[2021-03-10 04:56] #738 closed

[2021-03-10 15:24] darthscsi commented on #725
closed in #730

[2021-03-10 15:24] #725 closed

[2021-03-10 16:10] darthscsi opened #746 "Memory latency lowering introduces continuous assignments in always block"
You can modify how many bad assignments happen by changing read-latency.
[code]

[2021-03-10 16:43] mikeurbach commented on #588
Closed by https://github.com/llvm/circt/pull/601

[2021-03-10 16:51] mikeurbach commented on #543
FYI, there are a couple items in flight, and I'm wondering if maybe they will address the behavior @JuanEsco063 reported above. No promises :) but they seemed related to memories and latencies, so perhaps we can test again when those changes are in.

https://github.com/llvm/circt/pull/717
https://github.com/llvm/circt/issues/746

[2021-03-10 21:22] lattner commented on #711
I fixed this, it was a different algorithmic issue.

[2021-03-10 21:22] #711 closed

[2021-03-10 23:23] lattner commented on #591
implemented in ce0d539

[2021-03-10 23:23] #591 closed

[2021-03-10 23:59] teqdruid commented on #718
If I understood correctly, @lattner thinks this is the way to go. It introduces complexity, but there's likely no way around that. Is this a fair statement Chris?

[2021-03-11 00:08] seldridge commented on #746
Closed via #747.

[2021-03-11 00:19] seldridge opened #750 "RTL array_index_inout read vs. write (FIRRTL Memory Lowering Bug)"
Currently, the following RTL (which is a minimum example of a FIRRTL Memory Lowering bug) causes bad Verilog to be emitted:

[code]

This produces:
[code]

The problem is that the `%3 = sv.array_index_inout` is a write accessor here. You don't want the temporary wire to be generated.

Alternatively, if the accessor is duplicated and placed inside the always and initial blocks:
[code]

Everything w

[2021-03-11 03:53] darthscsi opened #751 "spilled temporaries in always blocks use continuous assign"
When temporaries are generated inside an always block, they are written to with a continuous assign.  This is wrong.
Getting more milage out of this example:
[code]
Produces:
[code]

[2021-03-11 04:27] darthscsi commented on #750
General fix in #752, will add a test case for it tomorrow.

[2021-03-11 17:26] #750 closed

[2021-03-11 17:27] darthscsi commented on #726
It's also outputting a race condition in non-procedural regions.

[2021-03-11 18:44] seldridge commented on #751
This was a regression introduced in: be85f3cd.

Before that, the above would produce those using `automatic logic`:

[code]

[2021-03-11 19:39] darthscsi commented on #740
This should be a direct passthrough:
[code]

[2021-03-11 20:35] drom opened #754 "[FIRRTL] mem's need to emit as [0:41] instead of [41:0]"
The following FIRRTL code:

[code]

produces the following Verilog output:

[code]

With the following issues:

## Clock reassignment

Getting:

[code]

Expecting:

[code]

## Wire reassignment

`_T_5`

[code]

## Wired name

`_2Er0data2Eoutput`

[code]

## Unpacked dimension order

firrtl:

[code]

firtool:

[code]

[2021-03-11 21:23] seldridge opened #755 "Verilog Or Reduction Improperly Inlines Nots"
Verilog emission is generating things like "or reduction" "not", e.g., `|~foo` which is invalid Verilog.

Consider:

[code]

This produces:

[code]

[2021-03-12 02:09] lattner commented on #755
Is it ok with parens?  `|(~a)`?

[2021-03-12 03:53] seldridge commented on #755
Yeah, using parens there should be fine. :+1: (Ideally, these rules are somewhere in the emitter and it'll aggressively inline when possible, adding parentheses, but only if needed or if we add other rules which make things clearer for a human reader.)

[2021-03-12 06:45] lattner commented on #755
Fixed in 48617dba thanks!

[2021-03-12 06:45] #755 closed

[2021-03-12 15:43] #736 closed

[2021-03-12 16:03] #751 closed

[2021-03-12 16:51] lattner opened #762 "[FIRRTL] Fix the syntax of `firrtl.constant` to match `rtl.constant`"
We currently use:

[code]
it would be waaay nicer to have:

[code]

Also, the implementation of this node sometimes stores the attributes with i8 type, sometimes with ui8, etc.  It would be good to make this consistent and verify it.

[2021-03-12 17:16] darthscsi opened #763 "FIRRTL Memory lowering generating unnecessary wires"
From #754 , this causes clock to be assigned to temporary wires.

[2021-03-12 17:47] lattner commented on #763
I'll take a look

[2021-03-12 18:56] youngar commented on #520
Closed by https://github.com/llvm/circt/pull/743

[2021-03-12 18:56] #520 closed

[2021-03-12 23:55] #714 closed

[2021-03-12 23:55] #713 closed

[2021-03-13 01:10] lattner commented on #763
Fixed in 7511f2e5

[2021-03-13 01:10] #763 closed

[2021-03-13 01:11] lattner commented on #754
We now generate this, it looks like the unpacked dimension order is still different:

[code]

[2021-03-13 02:35] #721 closed

[2021-03-13 07:48] drom commented on #754
Looks way better!

[2021-03-13 17:01] lattner commented on #754
Is the dimension ordering still a problem?  @darthscsi is it ok for us to just change this in the printer?  It is probably a bug due to refactoring of the logic, I'm not sure if there is a semantic effect.

[2021-03-13 19:17] lattner opened #765 "[testsuite] tests shouldn't use firtool unless they are testing firtool itself"
There are a some tests that are using firtool when they shouldn't, specifically these:

test/Conversion/FIRRTLToLLHD/*.fir
test/Dialect/FIRRTL/lower-types-errors.mlir

These shouldn't depend on firtool, they should be unit tests for the passes in question, and start from the IR that is input into those passes.  Depending on firtool makes the tests less stable, and more likely to drift from testing

[2021-03-13 19:24] lattner commented on #724
Fixed in fa201796, thanks!

[2021-03-13 19:24] #724 closed

[2021-03-13 19:40] lattner commented on #740
Fixed in 03e3671a thx

[2021-03-13 19:40] #740 closed

[2021-03-13 20:46] lattner opened #766 "comb.and should handle `and(x, -1)` -> `x` in `fold()`"
It looks like fold is missing this pattern, which prevents `createOrFold` from simplifying it inline:

`%3 = comb.and %inpred, %true : i1`

Similarly, x|0 and x^0 should fold() to x.

[2021-03-13 20:49] lattner commented on #766
Relatedly, it looks like LowerToRTL should use `createAndFold` instead of `create` more often as well.

[2021-03-13 20:55] lattner commented on #754
Nuked a few more wires, and tightened up the #ifdef with a macro:

[code]

[2021-03-14 01:20] lattner commented on #597
Is this done now @uenoku ?

[2021-03-14 01:20] lattner commented on #539
Almost done!

[2021-03-14 01:20] lattner commented on #472
Is this done?

[2021-03-14 01:22] lattner commented on #419
Still crashes

[2021-03-14 01:23] lattner commented on #402
Comparison folding is done.

[2021-03-14 01:23] #402 closed

[2021-03-14 01:23] #523 closed

[2021-03-14 01:24] lattner commented on #530
Is this done?

[2021-03-14 01:24] lattner commented on #530
I think so, please reopen if not

[2021-03-14 01:24] #530 closed

[2021-03-14 01:25] lattner commented on #379
I did this awhile ago

[2021-03-14 01:25] #379 closed

[2021-03-14 01:25] lattner commented on #252
Closing, as this is too general to be useful.  Lots of folding exists and missing things should be tracked in individual bugs.

[2021-03-14 01:25] #252 closed

[2021-03-14 01:25] lattner commented on #247
Is this done?

[2021-03-14 01:27] lattner commented on #729
I'm not aware of a problem here.  Please include a testcase if there is a problem, thx

[2021-03-14 01:27] #729 closed

[2021-03-14 01:27] lattner commented on #634
I think that @prithayan fixed this.

[2021-03-14 01:27] #634 closed

[2021-03-14 01:28] lattner commented on #380
should this stay open?

[2021-03-14 01:46] mikeurbach commented on #247
@lattner not yet. When I was doing the performance tuning on this pass, I thought about trying to change this behavior, but ultimately left it off. The fact that we create a new argument for every original argument makes it simple to preserve the relative ordering of arguments as they get flattened, and it wasn't the performance bottleneck at the time.

[2021-03-14 04:01] uenoku commented on #597
Not yet. Will be done in #768.

[2021-03-14 06:26] teqdruid commented on #472
Yes

[2021-03-14 06:26] #472 closed

[2021-03-14 07:11] teqdruid commented on #724
Thanks!

On Sat, Mar 13, 2021 at 11:24 AM Chris Lattner ***@***.***>
wrote:

[2021-03-14 07:31] seldridge commented on #380
I think we can close this. We've been pushing in the `#2` direction and it's been working fine.

If I have a clear situations that requires us to flip a connect, I'll re-open this.

[2021-03-14 07:31] #380 closed

[2021-03-14 21:03] darthscsi commented on #754
We can change it in the printer, endian discussion and bitcast would care.
I don't remember if we defined an order for unpacked arrays.  But bound
order is visible in other semantics (Cast, slice, stream, etc).

On Sat, Mar 13, 2021 at 11:02 AM Chris Lattner ***@***.***>
wrote:

[2021-03-15 05:05] lattner commented on #766
This wasn't actually helpful, but resolved in f2b48276

[2021-03-15 05:05] #766 closed

[2021-03-15 05:52] lattner opened #769 "`comb.sub` doesn't have a constant folding hook"
We should also fold `sub(x, 0)` -> x

[2021-03-15 11:15] #597 closed

[2021-03-15 17:19] lattner commented on #615
Just FYI, the next merge of LLVM should [significantly reduce canonicalizer time](https://llvm.discourse.group/t/speeding-up-canonicalize/3015/13).  River is working on further improvements as well.

[2021-03-16 19:23] drom commented on #754
@lattner

Good Nuking! But there where some innocent casualties. You `RANDOMIZE_GARBAGE_ASSIGN_BOUND_CHECK` is missing a `back-tick`

[2021-03-16 20:29] prithayan commented on #754
@drom Added the back-tick

[2021-03-16 20:53] lattner commented on #754
Thank you for catching this @prithayan !

[2021-03-16 23:39] JuanEsco063 commented on #543
Hey @mikeurbach sorry I have been MIA. Thank you for the updates! It seems there has been a lot of improvements which is great. Only #717 seems to be the only one still not merged. I look forward to tomorrow's meeting.

[2021-03-16 23:44] drom opened #773 "[FIRRTL] crash"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

The issue appears at random.

[2021-03-16 23:58] mikeurbach commented on #543
Yep, a lot has been going on. I have been on other tasks myself, but I do want to loop back to these tests in light of all the recent changes.

From my end, I am going verify that we still need https://github.com/llvm/circt/pull/602 to prevent deadlocking. I'm pretty sure we still need something like that, in which case I'll merge the latest main into that branch for further experimentation.

I wa

[2021-03-17 00:52] lattner commented on #773
Thanks @drom, valgrind shows lots of interesting things, working on it

[2021-03-17 01:06] lattner commented on #773
I believe that I fixed this in 88866c32, please verify.  Thank you for the report!

[2021-03-17 01:19] drom commented on #773
Rerunning regression overnight.

[2021-03-17 01:57] drom opened #774 "[FIRRTL] instance binding reassignment"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Which has incorrect reassignment or `_T`, `_T_0` and `_T_1` temporal wires.

Compiled with `firrtl-1.5.0` produces this Verilog:

[code]

[2021-03-17 02:03] drom commented on #773
Look good!

[2021-03-17 02:03] #773 closed

[2021-03-17 05:22] drom opened #775 "[FIRRTL] mem (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

firrtl-1.5.0-SNAPSHOT produces this Verilog:

[code]

[2021-03-17 16:35] prithayan commented on #774
This is the IR in RTL dialect. The invalidate construct is lowered to ```false``` constant in RTL dialect.
[code]

[2021-03-17 16:55] darthscsi commented on #774
Input is high-firrtl, which isn't supported yet.

[2021-03-17 17:02] prithayan commented on #775
Valgrind output
[code]

[2021-03-17 17:04] drom commented on #775
[code]

[2021-03-17 20:04] drom opened #778 "[FIRRTL] mem 0-width (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

valgrind reports

[code]

firrtl-1.5.0-SNAPSHOT also crashes :(

[2021-03-17 20:57] seldridge opened #779 "[FIRRTL] Disallow Top-level Abstract Reset"
The following circuit should be an error. Assumedly, this should be a verification hook added to either a FIRRTL circuit or to a module that is conditioned on it being the top module.

[code]

When running with the Scala FIRRTL Compiler, this errors quickly:

[code]

When compiling with CIRCT, this happily goes all the way to Verilog and generates a synchronous reset flip flop.

[2021-03-17 21:29] lattner commented on #778
I'll take a look

[2021-03-17 22:33] lattner commented on #778
Fixed in 00ef911c, thanks!

[2021-03-17 22:33] #778 closed

[2021-03-17 23:52] lattner commented on #775
I can't reproduce these valgrind issues on top of tree, can you still?

[2021-03-18 00:16] lattner commented on #625
xref https://github.com/llvm/circt/pull/770  @fabianschuiki

[2021-03-18 00:20] lattner commented on #779
Is this something that the chisel API should catch, or is this a user error that we want to enforce at the FIRRTL level?

The difference is really important.  If this is an invariant of the IR that Chisel should check, then this should be a verifier check.  If this is a logical bug that we want to diagnose in a nice way, then we should write a "type checking" pass that checks these assumptions and

[2021-03-18 00:20] lattner commented on #779
(no, I'm not impressed by `Exception in thread "main"` in some compiler internals :-) )

[2021-03-18 00:21] lattner commented on #779
DI is a [now huge](https://github.com/apple/swift/blob/main/lib/SILOptimizer/Mandatory/DefiniteInitialization.cpp) pass in Swift, but there are [simpler](https://github.com/apple/swift/blob/main/lib/SILOptimizer/Mandatory/DataflowDiagnostics.cpp) things akin to this.

[2021-03-18 00:22] lattner commented on #564
Xref [this comment](https://github.com/llvm/circt/issues/779#issuecomment-801524871) on how we approach the design of this check

[2021-03-18 00:29] lattner commented on #774
I think the problem is that we're not lowering rtl.merge correctly.  I'm going to stop its formation and remove it.

[2021-03-18 00:31] lattner commented on #774
Actually, that isn't necessary, will just fix it.

[2021-03-18 00:50] drom commented on #775
yes, I still see them

[2021-03-18 01:02] lattner commented on #726
Fixed in c3efcdfb

[2021-03-18 01:02] #726 closed

[2021-03-18 01:04] lattner commented on #775
Ok, I don't see this so I would appreciate it if someone else could take a look

[2021-03-18 01:08] lattner commented on #774
We now generate incorrect verilog instead of invalid verilog (yay progress) after rtl.merge emission has been fixed:

[code]

The remaining problem is the lowering of the `invalid` op.  We currently lower it as zero, but I think SFC has some fancier lowering -- sometimes to random, sometimes to zero, sometimes to nothing.  @seldridge do you know what the right thing here is ?

[2021-03-18 03:00] darthscsi commented on #774
It lowers to zero.  But multiple assigns are independent parallel tasks and
multiple assigns to a single netlist is a race condition.  What we are
missing is preserving the last-assign semantics during lowering.  The
invalid assignment should never generate rtl as the normal assigns
post-dominate.

On Wed, Mar 17, 2021, 8:08 PM Chris Lattner ***@***.***>
wrote:

[2021-03-18 03:02] darthscsi commented on #774
Or but another way, we are missing incorrectly turning a procedural region
(firrtl) into a graph region.  This is the same problem we had with printf.

On Wed, Mar 17, 2021, 10:00 PM Andrew Lenharth ***@***.***> wrote:

[2021-03-18 04:59] seldridge commented on #779
I think this is really an invariant of the IR and a Chisel-level check. Basically, it's nonsensical to have a top-level abstract reset port for the reason that reset type inference will default to synchronous if no other information is available. Therefore, if there's not at least one input to the global algorithm (a top level port), then you can run into problems where you do local inference on a

[2021-03-18 05:06] seldridge commented on #564
Note that these errors really suck for a couple of reasons:

1) The Scala FIRRTL Compiler is showing a FIRRTL IR snippet which the user has to mentally translate back to Chisel.
2) The "not fully initialized" isn't explained well to the user. What should they do to fix this? (Make a modification in Chisel, but the weak linkage of (1) makes this tedious... A Chisel user making a super basic error s

[2021-03-18 05:22] seldridge commented on #774
The issue here is that the last assignment needs to win. The `ExpandWhensAndCheck` pass is resolving this to "static single connect" where everything is only connected to exactly once. Here, last assignment should win.

This specific example is really no different from:

[code]

The last assignment should win here and this reduces to:
[code]

Note, that in the event that something is conditionally

[2021-03-18 05:25] seldridge commented on #774
One clarification: if we had something that was doing the equivalent work of `ExpandWhensAndCheck` (which is a requirement of lowering from High FIRRTL to Mid FIRRTL) then we'd be in "static single connect" and this wouldn't be a problem.

Reiterating @darthscsi's point, I view the real issue as this being High FIRRTL and we haven't started to tackle that yet. It would be good if we had a real err

[2021-03-18 15:39] seldridge opened #781 "[FIRRTL] Parse RawString ExtModule Parameters"
The Scala FIRRTL Compiler supports passing "raw string" parameters to blackboxes. These have single quotes as opposed to double quotes.

As an example, the following:

[code]

Becomes in the Scala FIRRTL Compiler:

[code]

We currently barf on the `'` when trying to parse this `.fir` file with `firtool`:

[code]

As far as I can tell, if something is a raw string, it should be reproduced exactly i

[2021-03-18 15:53] seldridge opened #782 "[FIRRTL] Memories can be called "mem""
We currently incorrectly parse memories called `mem`. This is another variant of context-sensitive parsing issues, e.g., https://github.com/llvm/circt/issues/559.

The following should parse:

[code]

Currently this fails where the parser gets confused with the `mem.r.clk <= clock` statement:

[code]

[2021-03-18 16:17] seldridge opened #783 "[FIRRTL] Handle Large Memories with Depth > 31 bits (Parser) and > 64 bits (IR)?"
FIRRTL IR allows for memories to be arbitrarily deep. There are two limitations that we're setting on this:

1) The FIRParser is using an `int32_t` to parse integers.
2) The actual IR representation of depth is `Confined<I64Attr, [IntMinValue<1>]>:$depth`.

The (1) restriction can be easily bumped to an `int64_t`.

The (2) restriction is lower priority (do we really need to represent exabyte-sized

[2021-03-18 16:54] lattner commented on #564
👍

[2021-03-18 17:31] prithayan commented on #769
Fixed in https://github.com/llvm/circt/pull/780

[2021-03-18 17:31] #769 closed

[2021-03-18 19:19] jackkoenig commented on #779
It makes sense to me with the stated goal being matching the behavior of SFC. An issue I've always struggled with w.r.t. SFC's reset inference is how to make such operations support incremental compilation. If we hoisted abstract reset to be a type parameter in CIRCT, could it perhaps leverage standard MLIR/LLVM incremental compilation flow? I have no idea how that works though, it seems to me tha

[2021-03-18 20:46] seldridge opened #785 "[FIRRTL] LowerTypes for Aggregate Register Inits"
Vector register lowering appears to not work.

Consider the following circuit:

[code]

This is crashing out in lower types:

[code]

I would expect this to generate something like what the Scala FIRRTL Compiler does here:

[code]

[2021-03-18 20:47] seldridge commented on #785
h/t @youngar for triaging: We're just missing any handling of `RegResetOp` in `LowerTypes`. Oops.

[2021-03-18 20:59] prithayan commented on #785
I just checked that LowerTypes does not yet handle these firrtl declarations:, ```CMemOp, SMemOp, NodeOp, RegResetOp```.
Not sure if how important the others are.

[2021-03-18 21:18] seldridge commented on #785
`CMemOp` and `SMemOp` are "CHIRRTL" (a super-dialect of FIRRTL IR that Chisel emits and includes those combinational and sequential mem accessor ops). These you can ignore. These need to be lowered to a `MemOp` before type lowering runs.

`NodeOp` should be handled.

[2021-03-18 22:30] seldridge opened #787 "[FIRRTL] FIRRTL to RTL Memory Lowering Needs to Handle All Read Under Write Behaviors"
Add support for the "old" read-under-write FIRRTL memory behavior. Currently, this is incorrectly emitted as "new".

The FIRRTL spec defines three read-under-write behaviors for memories. A read-under-write behavior is what happens if you try to read and write the same address on the same cycle These three behaviors are:

1. New (return the value in the memory when the read was made)
2. Old (retur

[2021-03-18 22:31] mikeurbach commented on #708
I was just testing this build scenario because I'd like the Python bindings to build whenever BUILD_SHARED_LIBS is enabled. It seems like there is a solution here, which I just hacked up. Basically, LLHD is using the MLIR execution engine in these tests, and there is a parameter to specifically point to some shared libraries for the execution engine to load. When I specifically give the path to li

[2021-03-18 22:45] GeorgeLyon commented on #706
Here is a link to some relevant tablegen: https://github.com/llvm/llvm-project/blob/5a8d5a2859d9bb056083b343588a2d87622e76a2/mlir/include/mlir/Interfaces/InferTypeOpInterface.td#L32

[2021-03-18 23:22] lattner commented on #787
How do we know which behavior is required?  Is this known given a fir file or is this global?

If we have to support 2 or 3 things, we should probably model this as an attribute on the op.  It is ok for the FIR parser to have global behavior flags, but we don't want MLIR itself to have context sensitive behavior like this.

[2021-03-18 23:37] seldridge opened #788 "[FIRRTL] More alias copy propagation"
This is really just more of #738 and #740.

CIRCT needs to work harder to eliminate or copy-propagate FIRRTL `Analog` types or Verilog `inout` types. `inout` support is _extremely_ spotty and weird across different tooling.

Annoyingly, the typical situation where use of `Analog` or `inout` shows up in code is purely passing these from a module's IO to a submodule's IO. Doing the direct assignment

[2021-03-18 23:42] seldridge commented on #787
Sorry for the confusion. It's defined on the memory op:

[code]

Where `read-under-write` can be any of `[new, old, undefined]`.

[2021-03-18 23:49] lattner commented on #787
oh awesome, already an attribute :)

[2021-03-19 03:25] prithayan opened #791 "[FIRRTL] Lowertypes connect doesnot preserve source destination after lowering"
The type lowering of aggregate connect operation does not preserve source and destination
[code]
generates this IR before lowering
[code]
IR after LowerFIRRTLTypes,
[code]
Here the ```firrtl.connect %a_d_0, %r_0 ``` is incorrect, it should instead be ```firrtl.connect  %r_0, %a_d_0```

[2021-03-19 03:26] lattner commented on #782
Fixed in b5261a9f, thanks!

[2021-03-19 03:26] #782 closed

[2021-03-19 03:29] lattner commented on #788
This is ridonculous but I'm not at all surprised by this.

[2021-03-19 03:31] lattner commented on #788
Fixing this is going to zap a ton of wires (virtually all of them), I'll start with something narrow.

[2021-03-19 03:50] lattner commented on #788
Part 1/2: 5f16ee51

[2021-03-19 03:59] lattner commented on #788
Fixed in 24ce8c9e, we now get:

module Foo(
  inout a);

  Bar bar (	// z.fir:6:5
    .a (a)
  );
endmodule

[2021-03-19 03:59] #788 closed

[2021-03-19 06:21] youngar commented on #791
I believe this is fixed by https://github.com/llvm/circt/pull/688

[2021-03-19 09:08] #644 closed

[2021-03-19 12:17] prithayan commented on #791
This is now fixed,

[2021-03-19 12:17] #791 closed

[2021-03-19 14:22] mikeurbach commented on #708
Closed by #789

[2021-03-19 14:22] #708 closed

[2021-03-19 14:22] mikeurbach commented on #375
Closed by #789

[2021-03-19 14:22] #375 closed

[2021-03-19 16:40] lattner commented on #774
Yeah ok that makes more sense to me, I didn't realize this was high firrtl.  This is equivalent to the `when` elimination problem, and will fit very naturally into its design.  That is somewhere on my todo list to take a look at, I'll keep this in mind as part of that, thanks!

[2021-03-19 17:27] seldridge opened #794 "[FIRRTL] Memories with Multiple Write Ports Emit as Multiple Drivers"
A memory with multiple write ports is incorrectly emitted as Verilog which looks like there are multiple drivers on the same signal. However, this is really just the appearance of multiple clocks that are all wired together and create multiple always blocks.

I think this is either one of two issues:

1. We need more copy-propagation that aggressively removes "temporaries" (something that a front

[2021-03-19 18:28] prithayan opened #795 "[FIRRTL] Type lowering of registers crashes if name attribute not present"
Operation name attribute is accessed without checking if it exists, at several places in LowerTypes,
https://github.com/llvm/circt/blob/main/lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp#L574

[code]
On running ``` circt-opt -pass-pipeline='firrtl.circuit(firrtl-lower-types)'``` produces the following crash,
[code]

[2021-03-19 18:32] youngar opened #796 "[FIRRTL] Memory leak, possibly from creating bundle types"
In https://github.com/llvm/circt/issues/775, it looked like there was a memory leak when running fir tool with valgrind:
[code]

I don't think there is a specific test case needed to reproduce. You can get more information out of valgrind by running `valgrind --leak-check=full --num-callers=50 firtool ...`

I briefly looked at the backtrace and it looked like something from a created bundle type w

[2021-03-19 18:36] youngar commented on #775
This should be fixed by https://github.com/llvm/circt/pull/792.  @drom You are going to have to rebuild LLVM this time :'(

[2021-03-19 18:50] drom commented on #775
@youngar challenge accepted!

[2021-03-19 22:07] seldridge opened #797 "Constant Prop to Avoid False Index Out of Bounds"
Some downstream tools will emit warnings or errors if a vector can be indexed out of bounds. However, not all tools are smart enough to know when something is actually a constant and can't be out of bounds.

Consider the following two Verilog circuits. Both contain a single-element vector indexed by a 1-bit wire. However, `Foo` cannot cause an out-of-bounds error (unless you zap it with some Veril

[2021-03-19 22:55] lattner commented on #796
cool thanks for catching and looking into this!  Do we need an equivalent of llvm_shutdown() ?

[2021-03-19 22:55] lattner commented on #775
I wonder if any canonicalize speedups came in this merge

[2021-03-19 23:15] youngar commented on #775
I think we didn't have https://reviews.llvm.org/D98309 before

[2021-03-20 04:20] #795 closed

[2021-03-20 04:31] lattner commented on #797
I'm not sure how to fix this.  For the specific case mentioned, we can always emit array_index of a zero sized array with a zero literal (given that anything else would be UB).  However, I don't see how this solves the general non-pow-2 case.

What does SFC do?

[2021-03-20 04:57] lattner commented on #754
Retitling since there is only one issue left here.  @darthscsi can you take this since you've worked on the type printing stuff?

[2021-03-20 04:59] lattner commented on #794
I see:

$ firtool z.fir -lower-to-rtl
z.fir:2:3: error: cannot lower this port type to RTL

[2021-03-20 05:54] lattner opened #801 "[comb] Canonicalize away comb.extract from comb.concat"
I see stuff like this in generated Verilog:

[code]

Given our cost model, we can always forward substitute the things being concat'd into a comb.extract, so we should be able to simplify this to something like:

[code]

[2021-03-20 06:00] lattner commented on #801
This looks like this in the IR:

[code]

[2021-03-20 06:15] seldridge commented on #794
@lattner wrote:

This also needs an `-enable-lower-types` because I wrote the example with vector ports.

However, that made me realize that this is actually unrelated to memories and actually an artifact of using temporary wires and passing around clocks. (It just happens that the memory lowering I put into LowerTypes tickles this.) Consider:

[code]

This is treating each clock as separate when

[2021-03-22 13:43] prithayan commented on #785
Fixed in https://github.com/llvm/circt/pull/790

[2021-03-22 13:43] #785 closed

[2021-03-22 15:41] mikeurbach commented on #787
Should this say `== 0`? Just trying to understand what's expected.

I'm interested because HandshakeToFIRRTL uses `old` at the moment. It also uses read latency of 0 and write latency of 1, because that's all that used to be supported. My understanding is this should work right now regardless of this issue, but wanted to check.

https://github.com/llvm/circt/blob/72162617f62fff5ff12372fc94f81f8aa7

[2021-03-22 16:13] seldridge commented on #787
@mikeurbach:

Yes. My bad. Editing that above.

[2021-03-22 17:46] seldridge opened #803 "Implement Scala FIRRTL Compiler Dead Code Elimination"
Add an option that implements the same policy/algorithm of the Scala FIRRTL Compiler for doing dead code elimination.

The following tests should all pass (possibly with some options/annotations applied to either the Scala FIRRTL Compiler or to CIRCT): https://github.com/chipsalliance/firrtl/blob/master/src/test/scala/firrtlTests/DCETests.scala.

[2021-03-22 17:48] seldridge opened #804 "Implement Scala FIRRTL Compiler Constant Propagation"
Add a pass to the FIRRTL Dialect that implements Scala FIRRTL Compiler-style constant propagation.

The tests in the Scala FIRRTL Compiler should provide guidance here: https://github.com/chipsalliance/firrtl/blob/master/src/test/scala/firrtlTests/ConstantPropagationTests.scala

[2021-03-22 18:36] teqdruid opened #805 "System assembly Python API"
For ESI, I'd like to create a Python API to drive CIRCT so users can write python scripts to do system assembly. The general flow would be:

- Read source files (.mlir, .fir, etc).
- Run passes on each to lower to RTL level.
- For languages which do not natively support ESI (which is currently all of them), wrap the signals of any latency-insensitive ports with the proper ESI ops.
- Combine the va

[2021-03-22 21:52] mikeurbach commented on #805
This is in line with my goals for the Python bindings (which I think you knew already), and generally fits with how I'd like to use ESI (still on my TODO list). One question about this bulleted list: is your intent to wrap it all up in one Python API, or would each bullet point have a Python API? To me, these could be several APIs that fit together. We could also have a pure-Python API that ties a

[2021-03-22 21:53] mikeurbach commented on #787
:+1: no worries, thanks for clarifying.

[2021-03-22 22:13] teqdruid commented on #805
I don't know what the practical difference would be at this point. (If CIRCT grows considerably, it may become unwieldy.) I'm thinking we just have one python API for all of circt, namespaced appropriately wherein we define "appropriately" on a case-by-case basis. Anything ESI specific should definitely go in a `circt.esi` namespace.

It sounds like we are in agreement.

[2021-03-22 22:30] LindYu opened #806 "[LLHD] llhd-sim unable to simulate generated llhd dialect"
To simulate below llhd:

[code]

shows this error:

[code]

My command to llhd-sim is -n 10 -r adder and I think the expect behaviour should be a constant signal at the output (signal i5_output being constantly at value 16). I was able to trace the code till line 235 of engine.cpp

(ps: this is not the full code for my sv; I have reduced it to the simplest form to see if I can get an output. Origi

[2021-03-22 23:04] mikeurbach commented on #805
Sorry, I was being too vague, but yes we are in agreement. I sort of think of hypothetical `circt.passes` and `circt.translations` Python modules as different APIs, if that helps clarify my comments. Anyway, your wording is what I am in favor of: one python API for all of circt, namespaced appropriately.

[2021-03-23 04:30] seldridge commented on #564
I changed the issue title to clarify that this is a general problem of checking initialization and not something specific to instances.

There are a number of tests that can be ported from the SFC: https://github.com/chipsalliance/firrtl/blob/master/src/test/scala/firrtlTests/CheckInitializationSpec.scala.

[2021-03-23 15:02] darthscsi commented on #797
How do the tools with problems here react to non-power-of-two arrays?  This happens often enough in human code.
If this is just a problem with 1-length arrays, we could canonicalize away the array or always use a constant as @lattner suggests.

[2021-03-23 15:37] seldridge commented on #797
Note that this is a size-1 array, not a size-0 array. (I was trying to make the example as simple as possible...) The problem generalizes to any non-power-of-2-sized-array.

The SFC has constant propagation and dodges this specific manifestation (indexing by a constant) if optimizations are turned on.

It won't handle the general non-power-of-2-case. It *could* have a solution where waivers are au

[2021-03-23 15:47] seldridge commented on #797
Example: Formality won't run without the user either (1) globally suppressing this error or (2) making this error a warning. You can see code examples doing this with a [GitHub search](https://github.com/search?p=1&q=FMR_ELAB-147&type=Code).

[2021-03-23 17:00] fabianschuiki commented on #514
This is implemented in #807.

[2021-03-23 19:24] lattner commented on #797
We need to improve constant propagation, I think it make sense to track that as part of this bug.

[2021-03-23 19:27] seldridge opened #808 "Support Verilog Implementation Limits"
The Verilog spec (1364-2005 was what I looked at) lets tools define limits on what they will accept. This issue covers building in the minimum limits as defaults with the ability to exceed them optionally. A user should be able to set a specific limit if they want.

The limits that I am aware of are:

- [ ] Implementations may set a limit on the maximum length of a vector, but the limit shall be a

[2021-03-23 19:41] lattner opened #809 "[FIRRTL] Need constant folding for all the primitives"
We're missing constant folding for a bunch of primitives, e.g. this should be handled by a `fold` method:

[code]

[2021-03-23 19:42] lattner commented on #797
This case is handled in eeed4fa8, but we also need to implement fold hooks for all the primitives: Issue #809

[2021-03-23 19:43] #797 closed

[2021-03-23 23:26] lattner commented on #794
This is because the `-firrtl-lower-types` pass is creating pointless temporary wires.  I will take a stab at extending the existing constant prop logic to also forward input ports, which will be a general solution.

[2021-03-23 23:32] seldridge commented on #794
Mea culpa.

[2021-03-23 23:55] seldridge commented on #794
Walking back the self-flagellation here a bit. The `*.mlir` snippet isn't _that_ weird. The following is totally legal FIRRTL to write and shouldn't produce multiple always blocks:

[code]

MFC:
[code]

SFC:
[code]

The MFC output isn't malformed here with multiple drivers, but lack of ability to see beyond the temporary wire produces a sub-optimal result.

Thanks for taking a look at this!

[2021-03-24 00:05] lattner commented on #794
Yeah, the actual issue here is that FIRRTL/SV isn't correctly composable.  Extraneous wires should be allowed to exist due to their electrical properties, but this abstraction is defeated by the pattern matching the tools are doing.

Yet another heinous day in the eda tools space.

The bulletproof way to handle this would be to make LowerTypes avoid generating the wire.  If there is a reasonable w

[2021-03-24 00:31] seldridge commented on #794
100% agree.

I can revisit this to clean up the wire generation.

[2021-03-24 00:40] lattner commented on #794
Fixed in 0dff5b1d.

[2021-03-24 00:40] #794 closed

[2021-03-24 01:00] jackkoenig commented on #794
I have always struggled with what `-O0` in SFC should mean for this reason... We have this weak notion of "Legalization [for Verilog]" where we require certain limited optimizations even if others are disabled. It's a huge pain though as this example illustrates really well.

[2021-03-24 01:14] drom opened #812 "[FIRRTL] unexpected stdout"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` produces unexpected `stdout` output:

[code]

[2021-03-24 02:19] mikeurbach commented on #710
The RTL dialect bindings are in.

I think the larger strategy is being discussed in #805, but I had some next steps on the last PR that I'll mention here:

1. add a Python extension to customize RTL module building, and add that to the test
2. add bindings to the SV dialect. this should be nice and clean after some of the boilerplate in this PR, and could serve as an example for how to add binding

[2021-03-24 03:41] drom opened #813 "[MLIR] CSE pass: ThisEntry && "Scope imbalance!"' (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

firrtl-1.5.0-SNAPSHOT produces this Verilog:

[code]

[2021-03-24 05:50] youngar commented on #812
This was introduced by accident earlier today, fix here: https://github.com/llvm/circt/pull/814

[2021-03-24 07:00] drom commented on #812
LGTM

[2021-03-24 07:00] #812 closed

[2021-03-24 07:03] youngar commented on #812
Thanks Aleksei!

[2021-03-24 09:12] youngar commented on #813
A more minimal test case:
[code]

CSE uses a hashtable of `Op -> Op` to keep track of seen values as it walks forward through a block.  There is the invariant that you can not change a key after it has been entered in to the hashtable.  When CSE runs it RAU of `%4` with `%3`, which modifies `%0`.  Since this will change the hash of `%0`, things kind of explode.

[2021-03-24 11:28] fabianschuiki commented on #813
My guess is that the CSE algorithm has been written with the assumption that the operations in the region follow def-before-use. Since the `rtl.module` is purely a data flow thing, there's probably no def-before-use order of the operations that we could establish before doing CSE (because there are going to be cycles through registers). So we'd need a way to update the hash under which an operatio

[2021-03-24 11:44] prithayan commented on #796
Seems like no more leakage, with the latest build. Run on gamma with /work/plato/local/circt/bin/firtool
[code]
For this input:
[code]

[2021-03-24 13:48] prithayan commented on #754
PR to fix this ExportVerilog issue, https://github.com/llvm/circt/pull/815

[2021-03-24 14:16] fabianschuiki commented on #709
Updated list based on CI on 2021-03-24:

1.
    LLHD time parser:
[code]
2.
    FIRRTL parser unused functions:
[code]
3.
    ExportVerilog MergeOp emission function not being used:
[code]
4.
    ESI RTL Builder unused function:
[code]

[2021-03-24 16:27] prithayan commented on #809
Should we add a fold method for every ```BinaryPrimOp``` ?  Currently it does not have ```hasFolder=1```,
https://github.com/llvm/circt/blob/main/include/circt/Dialect/FIRRTL/FIRRTLExpressions.td#L152
Why not add it to the base class, instead of specific ops only,
[code]

[2021-03-24 16:44] seldridge commented on #809
This should _at least_ implement any fold that sub-types [`SimplifyBinaryOp`, `FoldCommutativeOp`, or `SimplifyReductionOp` in the Scala FIRRTL Compiler](https://github.com/chipsalliance/firrtl/blob/09c4baf90ca61c06fd87467110f62db5b6a999c2/src/main/scala/firrtl/transforms/ConstantPropagation.scala#L127).

[2021-03-24 18:10] #754 closed

[2021-03-24 18:23] drom opened #819 "[MLIR] CSE pass doesn't work on graph regions"
The following FIRRTL program (Sorry it is quite long :( )

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]

firrtl-1.5.0-SNAPSHOT produces Verilog

[2021-03-24 18:24] drom commented on #819
has unique signature: `Assertion `!FoundVal && "Key already in new map?"' failed.` but may be related to: [#813]

[2021-03-24 18:27] stephenneuendorffer commented on #819
Seems like something worth trying mlir-reduce on?

[2021-03-24 18:36] drom commented on #819
@stephenneuendorffer that would be great. That was the smallest source that my fuzzer came out with for the same crash reason.

[2021-03-24 19:53] lattner commented on #809
yes, go further though - it should be added to `PrimOp` in tblgen.

[2021-03-24 19:56] lattner commented on #819
Yeah, this is a known to me issue.  I'll try to first principles a testcase.

[2021-03-24 20:13] lattner opened #820 "[comb] Still missing lots of constant folders"
For example, this should fold but doesn't yet:

[code]

[2021-03-24 20:22] lattner commented on #819
This crashes with `mlir-opt z.mlir -allow-unregistered-dialect -cse`:

[code]

I'll take a look.

[2021-03-24 20:35] lattner commented on #819
@youngar points out that this is a likely dupe of Issue #813

[2021-03-24 21:41] drom opened #821 "[FIRRTL] (neg) mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

[2021-03-24 22:01] darthscsi commented on #821
in_f should not be sign extended, it should be zero extended.

[2021-03-25 03:04] youngar commented on #796
Thanks for looking in to this!

[2021-03-25 03:04] #796 closed

[2021-03-25 03:40] prithayan commented on #821
@darthscsi , Chris made the exact opposite change to fix https://github.com/llvm/circt/issues/364
The comment from https://github.com/llvm/circt/blob/main/lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp#L2122
[code]
https://github.com/llvm/circt/commit/2fc584ef92bd0b41139ec486cfb3437dba362bd7

[2021-03-25 03:53] prithayan commented on #775
Still can't reproduce the valgrind issues on the gamma machines, with /work/plato/local/circt/bin/firtool

[2021-03-25 04:07] lattner commented on #775
I thought that @youngar fixed this by merging in some stuff from mlir trunk?

[2021-03-25 04:45] teqdruid commented on #805
I'm starting to implement the C++ support for this (there are several functions which are necessary for ESI). These functions are intended to be called from Python; however, I would like them to execute as part of the PR gate checks rather than just the nightly. I can think of two ways to accomplish this:
1) Add Python API tests to the PR gate build/test.
2) Write a C++ driver for testing purposes

[2021-03-25 04:57] lattner opened #822 "Remove unnecessary terminator instructions"
`sv.if`, `firrtl.circuit` and many other operations have terminators (e.g. `sv.yield`) that only exist to make MLIR happy.  These things waste memory and make iterator traversals more annoying.

Recently @joker-eph landed a [new feature](https://llvm.discourse.group/t/rfc-making-terminator-optional-for-single-block-graph-regions/2997) in MLIR trunk that eliminates the need for this.  We should ado

[2021-03-25 04:59] drom commented on #775
Yes, I don't see this issue anymore.

[2021-03-25 04:59] #775 closed

[2021-03-25 05:38] mikeurbach commented on #805
I am not opposed to 1., but it probably means we will need to always build the PR gate with BUILD_SHARED_LIBS. Not sure if that is a problem for anyone... it may actually force some better habits as we develop.

For option 2., there is actually some precedent upstream in MLIR. Once you get past the setup and boilerplate, you basically write your test case in a nanopass. For example, here's what te

[2021-03-25 13:58] fabianschuiki opened #825 "[FIRRTL] Parser `< 0` always false"
I currently see the following warning:
[code]

[2021-03-25 14:45] #825 closed

[2021-03-25 14:51] seldridge commented on #825
Ack... My bad. I looked at this check and I don't think it's ever actually possible to trip, even when using a signed type. That method is always called starting from`%[` meaning that the function will exit before you can ever find a `]` that will decrement the depth sufficiently to trip it.  I went ahead and just removed the check instead of switching to a signed type for the `depth`. Thanks for

[2021-03-25 18:58] drom commented on #33
LGTM

[2021-03-25 18:58] #33 closed

[2021-03-25 19:53] darthscsi opened #826 "LowerTypes is growing and needs some factoring"
A couple high-level points:
* Struct lowering and vector lowering should be separate as we may want to do one and not the other.  Specifically, I imagine vector lowering won't be something that we enable normally.
* There is a difference between dynamic indexes and everything else as dynamic indexes cause mux trees at the access op, where-as static indexes and field accesses are trivial replacemen

[2021-03-25 20:21] #514 closed

[2021-03-25 20:28] #490 closed

[2021-03-25 20:39] prithayan commented on #809
Sounds good, we can include ``hasFolder =1`` in ``PrimOp``.
I created a PR just for the Add op, will include each of the operators in separate PRs.
https://github.com/llvm/circt/pull/827

[2021-03-25 21:32] #632 closed

[2021-03-25 23:00] teqdruid commented on #805
Actually, we already do for the 'clang release` build.

There's also precedent in CIRCT -- the C API test. (Though it's not nearly a substantial as the one in MLIR that you point to.

[2021-03-25 23:11] lattner commented on #632
nice thanks!

[2021-03-25 23:28] mikeurbach commented on #826
I have been wondering if perhaps this pass has outgrown the current visitor pattern. It has always been designed to take a single pass through every module's block arguments, and then take a single pass through the ops in the module body.

I think the debate about where to do the work is the right one to be having. Without taking either side, here are some thoughts about the pass at a high-level.

[2021-03-26 16:29] mikeurbach commented on #742
A good first step might be to lower to RTLModule instead of FIRRTLModule, but keep the rest the same. I'm not sure how practical this is, but it would open up the type system.

[2021-03-26 16:51] lattner commented on #813
FYI I disabled the RTL level CSE pass in this patch f9e71027 as a workaround for this.

[2021-03-26 17:54] lattner commented on #803
I'll work on this a bit.  First step here: 06adb4f9

[2021-03-26 18:32] Ayushsunny commented on #820
I would like to work on this issue

[2021-03-26 18:34] lattner commented on #820
Cool, please do!

[2021-03-26 18:58] Ayushsunny commented on #820
So, what exact I have to do @lattner sir ? as I am a new to open source I need some help before start contributing

[2021-03-26 19:01] Ayushsunny commented on #781
Hello @seldridge I wanna work on this issue

[2021-03-26 19:10] darthscsi commented on #640
I believe this is resolved.  I can't reproduce on ToT and I think the arg order instances are all handled now.

[2021-03-26 19:10] #640 closed

[2021-03-26 19:13] drom opened #832 "[FIRRTL] vector (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]
Expected behavior: not to crash

[2021-03-26 19:22] darthscsi commented on #709
All cases closed.

[2021-03-26 19:22] #709 closed

[2021-03-26 19:42] seldridge commented on #781
@Ayushsunny: awesome, thanks. If you want to poke around, I think [this `switch` statement is missing a case to handle the raw string stuff](https://github.com/llvm/circt/blob/4d91f1bcaa5c3e1a59ba1136873bf45e873c7cda/lib/Dialect/FIRRTL/Import/FIRParser.cpp#L2661).

The definition of a "RawString" is [here](https://github.com/chipsalliance/firrtl/blob/5a89fca6090948d0a99c217a09c692e58a20d1df/src/ma

[2021-03-26 19:53] darthscsi commented on #832
SubAcccessOp is missing from Lower types.  #746

[2021-03-26 19:54] darthscsi commented on #826
Discussion for #748

[2021-03-26 20:53] youngar opened #833 "[FIRRTL] Canonicalize and CSE don't have to run on the global ModuleOp"
The canonicalize and CSE passes are currently set to run on the ModuleOp.  I think they can effectively run on any IsolatedFromAbove operation.  To increase parallelism they should run on the the CircuitOp::FModule.  I don't think we can do the same thing for RTLModule because of the SV operations inserted into the global module scope.

[2021-03-26 22:21] lattner commented on #833
aha!  Great catch!  This should just require adding some `nest` things to firtool.cpp?

[2021-03-26 22:56] youngar commented on #833
Yeah, fix here: https://github.com/llvm/circt/pull/834.

Is there actually anything emitted in to the global scope of RTL that we need to run CSE+Canon on?  If not, we could make the same change to the RTL optimization phase.  This would most likely cause confusions down the line though.

[2021-03-26 23:44] lattner commented on #833
No there isn't, everything should be in an rtl.module

[2021-03-27 00:36] lattner commented on #803
MLIR has a very nice and generic SCCP pass, but after digging into it a bit, it won't handle FIRRTL's connect semantics and output arguments :-(.   Fortunately, our needs are a lot simpler than what it supports, but it is still a bummer.

[2021-03-27 01:20] seldridge commented on #803
Thanks for digging into this, @lattner. :+1: Guidance on what we can reuse vs. needs to be built is great.

[2021-03-27 04:59] Ayushsunny commented on #781
So do I have to add this to switch statement ?

[code]

[2021-03-28 03:30] darthscsi commented on #821
Closed in #831

[2021-03-28 03:30] #821 closed

[2021-03-28 03:31] darthscsi commented on #832
array index as a LHS is not low firrtl, changing milestone.

[2021-03-28 04:34] drom commented on #832
should it at lest not crash as part of milestone 1?

[2021-03-28 14:28] darthscsi commented on #832
yes, core dumps are bad.  I'll split this up tomorrow.

On Sat, Mar 27, 2021 at 11:34 PM Aliaksei Chapyzhenka <
***@***.***> wrote:

[2021-03-29 12:48] fabianschuiki commented on #804
Reminder: We should replace the current uses of `constFoldBinaryOp` with a custom function that handles zero-/sign-extension to a unified bit width, depending on the result type. Currently `constFoldBinaryOp` only folds constants of identical type, but FIRRTL allows for a mix-and-match.

[2021-03-29 13:26] fabianschuiki commented on #806
Hi @LindYu, thanks for the nice minimalized test case! Will take a look :+1:

[2021-03-29 15:20] darthscsi commented on #832
Specifically, this is a lower-types issue, lower-to-rtl errors out gracefully.

[2021-03-29 16:02] #832 closed

[2021-03-29 16:55] darthscsi opened #838 "wire generated in always block"
Probably long name spilling.

[code]

[2021-03-29 16:56] darthscsi opened #839 "multi-port memories can cause writes in different always blocks"
due to the clocks being assigned to wires and the wires not deliminated, the always blocks aren't merged.

[2021-03-29 17:18] darthscsi opened #840 "Don't spill expressions to one-use variables due to long line constraints"
Instead, print them on multiple lines.  In the module scope, at least, adding assignments has a simulation cost (each assign is logically tracked separately in the event loop).  In always blocks, this isn't an issue.

But there are two cases we need to worry about:
* Too many parse tokens in a statement for other verilog parsers to deal with (Tool limitation)
* Lines which are getting too long.

T

[2021-03-29 17:33] drom opened #841 "[FIRRTL] counter mismatch"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

That is maybe because of `ADFF` not found by YoSyS (investigating)

[2021-03-29 17:49] #710 closed

[2021-03-29 18:12] teqdruid opened #842 "[FIRRTL] Yosys integration test failing"
https://github.com/llvm/circt/runs/2218231196?check_suite_focus=true

[code]

[2021-03-29 19:09] drom opened #844 "[FIRRTL] mem (mismatch)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types` produces this Verilog:

[code]

Compiled with `firrtl-1.5-SNAPSHOT --dont-fold div` produces this Verilog:

[code]

`Yosys 0.9+3911 (git sha1 4b31223e, clang 11.0.1 -fPIC -Os)` reports formal mismatch:

[code]

[2021-03-29 19:23] seldridge commented on #844
By inspection, there's some more aggressive constant propagation in `firtool` than in `firrtl` here. Also, there are some changes to the representation of the enable pipe.

Do you know if either of these could be causing the mismatch?

[2021-03-29 19:53] darthscsi commented on #839
This should be a sufficient test case:
[code]

[2021-03-29 21:24] seldridge commented on #838
A simplified MLIR example is:

[code]

The above produces:

[code]

The underlying problem is that the statement where something is going to be inlined needs to be examined to see if it's in a procedural region or not. The current line "line too long, dumping a temporary" is using the to-be-inlined expression's defining op to make this determination now. When this crosses a procedural boundary thi

[2021-03-30 00:05] seldridge commented on #838
Note: there is a second issue here which can lead to double wires being emitted.

A minimal example is here:

[code]

This produces the following (see double `wire _tmp`):

[code]

[2021-03-30 01:40] drom commented on #841
Filed Yosys issue: https://github.com/YosysHQ/yosys/issues/2713

[2021-03-30 03:19] drom commented on #841
It was fixed in yosys script

[2021-03-30 03:19] #841 closed

[2021-03-30 03:59] drom opened #847 "[FIRRTL] (geq) (core dump)"
The following FIRRTL program

[code]

Compiled with `firtool --lower-to-rtl --enable-lower-types --verilog` gives an error:

[code]
Expected behavior: not to crash

[2021-03-30 04:04] seldridge commented on #838
I have fixes ready to go in #838. The first for the first circuit is in 68bad26a92115dcfdf39e32049a0ac52ce298c99. The second fix is in 07d0d8b2f80470ece54d8968bd55dce430828052. Slightly modified versions of the testcases shown here are included in that PR.

[2021-03-30 11:20] #833 closed

[2021-03-30 11:23] fabianschuiki commented on #847
This seems to crash in `circt::firrtl::GEQPrimOp::fold`, which I recently added as part of constant folding. Will take a look.

[2021-03-30 11:27] fabianschuiki commented on #844
This could be the culprit. As far as I remember, registers are used mostly as fixed points for formal equivalence checking (like additional inputs and outputs). I think the tools make some attempt to match up registers and wires by name on a best-effort basis, but it could be that the `tmp14_r1_addr_pipe_0` vs `tmp14_r1_en_pipe[0:0]` here throws the tool off.

[2021-03-30 11:36] fabianschuiki opened #849 "CMake 3.20.0 triggers warnings concerning policies CMP0115 and CMP0116"
I just updated to CMake 3.20.0 on my machine and now run into the following warnings:

- CMP0115
[code]
- CMP0116
[code]

The [changelog](https://cmake.org/cmake/help/latest/release/3.20.html#other-changes) for CMake 3.20 reports:

Details on the policies:
- [CMP0115](https://cmake.org/cmake/help/latest/policy/CMP0115.html)
- [CMP0116](https://cmake.org/cmake/help/latest/policy/CMP0116.html)

[2021-03-30 11:41] fabianschuiki commented on #847
0-width types cause trouble here.

[2021-03-30 12:00] fabianschuiki commented on #847
Pushed a fix in #850.

[2021-03-30 12:22] fabianschuiki commented on #839
Couldn't this actually be correct behaviour? The read/write ports have their own clock, and without hooking them up, these are just dangling wires. Connecting up the clocks of these ports produces nicely merged blocks:
[code]
Compiled with `firtool foo.fir -enable-lower-types -lower-to-rtl -verilog` produces:
[code]
What am I missing?

[2021-03-30 15:23] seldridge commented on #839
Good catch @fabianschuiki. This is the same thing as https://github.com/llvm/circt/issues/794, but with an undriven memory. (I expect this wasn't what @darthscsi intended...)

If the memory is dead then we should remove it. However, that's the recurring oddity of requiring optimizations for correctness (or lint correctness). This could be entirely avoided with a check that memories are driven (par

[2021-03-30 15:40] darthscsi commented on #839
yea, my reduction doesn't have the driving clock.  The case I was looking at was multiple write ports with the same clock wound up spilling the clock to different temporaries for each use, thus to different always blocks.

[2021-03-30 15:41] darthscsi commented on #839
The failure came up because the array representing the memory was written in two different always blocks (for the reasons above).

[2021-03-30 16:28] fabianschuiki commented on #839
Do you still have a concrete test case where the clocks fail to be merged?

[2021-03-30 17:11] lattner commented on #841
thx

[2021-03-30 19:23] seldridge opened #851 "Synthetic/Generated-aware Optimizations"
Hardware languages that compile to Verilog and their compilers have three implicit attributes associated with them:

1. User-specified things
2. Temporaries generated in the front-end, e.g., Chisel
3. Synthetics generated in the middle-end, e.g., some `llvm/circt` optimization pass

User-specified things should be preserved in the output language (e.g., Verilog, VHDL, or SystemC) by default. Anyth

[2021-03-30 20:04] lattner commented on #840
I don't understand what this is suggesting.

[2021-03-30 20:06] fabianschuiki opened #852 "Add integration test cases for comparison const folding"
As per @darthscsi's comment in #850, add Yosys equivalence checks as integration test cases for the constant folding of comparison operators.

[2021-03-30 21:24] seldridge commented on #781
Hey, sorry. No, you shouldn't need all that. That switch statement is only handling the parsing of a FIRRTL external module parameter. All the possible cases are correctly handled except if there's a "raw string" using single quotes.

The specific issue, I think, is that that case needs to handle `FIRToken::raw_string` which is commented out here: https://github.com/llvm/circt/blob/4d91f1bcaa5c3e1

[2021-03-30 21:52] lattner commented on #838
Hey @seldridge, I think it is simpler & better to fix this the longer term way, through two changes:

1) Not inlining across operations across block uses.  We should have a prepass that sinks these users into the blocks anyway.

2) Duplicate and move the "must be inlined" ops as part of a prepass as you say.

The end result of this will keep the verilog emitter simpler and more stable.  I'm going

[2021-03-30 21:59] lattner commented on #838
Yeah, we're already doing #1.  The problem is the "must be inlined" ops like array index.  That should be a straight-forward fix.

[2021-03-30 22:17] seldridge commented on #838
Cool. Thanks for taking a look! I'll let you hack. If #846 is bound for closure, do use the test cases.

I agree that the longer term solution is the way we need to move.

I'm for keeping the Verilog emitter as simple as possible. Ideally, as close to `Operation => String` as possible. Anything which is effectively an IR transformation (like inlining operations across blocks due to temporary spill

[2021-03-30 22:46] lattner commented on #838
Agreed, thanks!  I appreciate the testcases!

[2021-03-30 23:14] lattner commented on #838
ccfee708 is progress towards fixing this.

[2021-03-31 01:05] lattner commented on #838
Second issue fixed in a515f213, thanks!

[2021-03-31 01:05] #838 closed

[2021-03-31 01:08] lattner opened #854 "circt-translate crashes with small testcase"
I think this is either an MLIR bug or a bug in how we're using it, but this works fine:

[code]

However if you delete the ASB wire, we get:

[code]

[2021-03-31 01:27] seldridge commented on #838
Awesome. Thanks, @lattner!

[2021-03-31 05:31] lattner opened #855 "-rtl-legalize-names crashes on nameless reg"
Names are optional on regs and wires, but `-rtl-legalize-names` isn't handling this.  Instead of being optional, we should make these attributes always required but possibly empty.

I'll work on it.

[2021-03-31 05:41] lattner commented on #855
Fixed in 1955aa3b

[2021-03-31 05:41] #855 closed

[2021-03-31 05:44] lattner opened #856 "[FIRRTL] Name strings shouldn't be optional"
Per [this change to sv dialect](https://github.com/llvm/circt/commit/1955aa3b90e9b88894efa66add2dde81dd22c185), we should also require names on the firrtl.mem, firrtl.reg etc operations.  Missing a name can be represented with an empty string attribute instead of a `None`.

In fact we should look at each of the uses of `OptionalAttr` to see how many we can eliminate

[2021-03-31 06:23] lattner opened #857 "Merge `LegalNamesAnalysis` into `RTLLegalizeNames.cpp`"
After the design iteration, this class is an implementation detail of RTLLegalizeNames, and is really only useful for that one pass.  We should merge it into the .cpp file instead of vending it as a public analysis.

@fabianschuiki FYI

[2021-03-31 15:08] fabianschuiki commented on #839
Dug through this a bit more and found the following failing example:
[code]
Compiled with `firtool foo.fir -enable-lower-types -lower-to-rtl -verilog` produces the following (rearranged for clarity):
[code]
The additional `validif` (which are present in the full failing test case as well) seems to be ignored in ExportVerilog for emission, but not for collapsing signals together.

Out of curiosity:

[2021-03-31 15:22] fabianschuiki commented on #839
This can actually be triggered without any memories involved. Consider the following two modules:
[code]
Compiling this with `firtool -lower-to-rtl -enable-lower-types` produces:
[code]
Notice how for `A` (with `validif`) we spilled into a separate wire, but for `B` (without `validif`) we directly folded everything to `%clock`. Missing constant folding case?

[2021-03-31 15:42] seldridge commented on #839
Great find @fabianschuiki. The SFC has an explicit pass for removing `validif` which converts circuit `A` to:

[code]

This the MFC will lower in the same way as circuit `B`.

It seems like the immediate fix is to add handling of `validif` during `LowerToRTL`.

That said, that circuit you show is a little concerning:

[code]

This RTL dialect code is perfectly fine, but this isn't copy propagated

[2021-03-31 15:46] fabianschuiki commented on #839
In the `FIRRTLFold.cpp`, the `foldSingleSetConnect` function tries to push values through wires and registers. This happens for simple things like constants or ports, but somehow `validif` does not seem to be propagated down. That then trips up the RTL/SV part which explicitly emits the wire and connects.

I agree @seldridge that it could make sense to do more work specifically in the RTL and SV d

[2021-03-31 16:05] fabianschuiki commented on #839
The culprit seems to be here:
https://github.com/llvm/circt/blob/74f99727c6ca9ec353a0a54a68d45f6e7fce49de/lib/Dialect/FIRRTL/FIRRTLFolds.cpp#L875-L890

Ports (i.e. just `%clock`) take the then-path through the if statement (`!srcValueOp`) and are appropriately forwarded through wires. Things like `validif` take the else-path and get stopped at the check for `ConstantOp` or `InvalidValuePrimOp`. Th

[2021-03-31 17:32] lattner opened #859 "VerilogEmitter crashes on out of order use of sv.reg"
The changes I put in to handle out of order references to values in a graph region don't handle inout types correctly.

Will fix.

[2021-03-31 17:41] lattner commented on #859
Fixed in 8dce8f88

[2021-03-31 17:41] #859 closed

[2021-03-31 17:59] youngar opened #860 "[FIRRTL] crash in ExportVerilog: use-before-def creating a wire with incorrect type"
[code]
Since `%reg` is used before its defined, the code is attempting to create a wire for it.  This is resulting in a wire of type `rtl.inout<inout<i1>>`:
[code]

[2021-03-31 19:04] youngar commented on #860
duplicate of https://github.com/llvm/circt/issues/859

[2021-03-31 19:04] #860 closed

[2021-03-31 21:14] prithayan commented on #842
Fixed this failure in ``EmitVerilog/verilog_equiv.fir`` by updating the golden verilog, https://github.com/llvm/circt/pull/858
But there is still another failure in ``ESI/system/basic.mlir`` .

[2021-03-31 21:31] teqdruid opened #863 "[ExportVerilog] [Integration Tests] Naming broken and crashes"
One (or more) of today's verilog emission commits broke the integration tests. This showed up in the ESI integration tests, but I think that's only because they are the most comprehensive and/or use ExportVerilog differently than FIRRTL. It broke 4 tests total (one unit test, 3 integration tests), but I'm only including the lit output from two which are representative of the other failures.

[code

[2021-03-31 22:07] lattner commented on #863
The crash was [fixed already](https://github.com/llvm/circt/commit/8dce8f882ec2069fa7695f623c678894b3fd19f0).  The other is an expected change in the generated verilog.  Incidentally, the generated verilog is going to continue to change, I think the integration test is just going to be super fragile over time.

[2021-03-31 22:12] seldridge commented on #856
Because FIRRTL requires things to have names, I think this is great. :100:

I'm generally not a huge fan of use of an empty string to represent `None` (if you really mean "none"). However, I don't think this matters. FIRRTL requires names and those names should verify against FIRRTL naming rules (roughly Verilog's `[a-zA-Z_][a-zA-Z0-9_$]*`). This would then make the empty string invalid.

[2021-03-31 22:19] seldridge commented on #863
The first issue may actually be a regression and not just a Verilog change. Naked connections without padding/slices is probably bad and most linters will yell at you.

@Ramlakshmi3733 noticed something very similar to this and I expect it's the same issue. Roughly he was seeing a tower of assigns with a lot of weird widths and some downstream user doing an invalid bit slice off it:

[code]

[2021-03-31 22:27] teqdruid commented on #863
I'm running a version with that patch.

Why would the integration test be super fragile? It doesn't check the verilog output, just runs it in Verilator. Anytime Verilator refuses to compile it, that's a pretty good indication that something's wrong with the output that's not just a NFC. You're right about the unit tests which check the SV output. I've been whittling them down to key things which s

[2021-03-31 22:27] darthscsi opened #865 "ifdef isn't a statement for purposes of begin/end"
[code]

[2021-03-31 22:38] lattner commented on #863
Ok, I'm super happy to look at this, but I don't have all the dependencies installed.  Trying something simple isn't working, any hints?

[code]

[2021-03-31 22:45] lattner commented on #865
Good catch, I will take this.

[2021-03-31 22:50] #865 closed

[2021-03-31 23:05] teqdruid commented on #863
Yeah, that's not the nicest error but expected in a non-capnp build.

We've got two options:
- You could use Docker to build and run with all the deps. (This would be useful for more than this specific case.) Docker on Mac doesn't seem difficult to install: https://docs.docker.com/docker-for-mac/install/ then we've got a script under utils/ to build and run everything in Docker, caching all of it.

[2021-03-31 23:12] teqdruid commented on #863
[testcase.zip](https://github.com/llvm/circt/files/6239990/testcase.zip)

This is a testcase which repros the crash when run through `circt-translate --export-verilog testcase.mlir`. (Sorry, github doesn't support .mlir attachments.)

[2021-04-01 00:19] teqdruid commented on #863
[testcase.mlir.txt](https://github.com/llvm/circt/files/6240172/testcase.mlir.txt)

Here's a more condensed testcase for the crash bug.

[2021-04-01 00:23] lattner commented on #863
Weird, looks like array types aren't allowed in inout's.  That seems like a bad thing.

[2021-04-01 00:24] teqdruid commented on #863
I'm not familiar with the changes, but why does `inout` get used at all? It's not used in the testcase I provided.

[2021-04-01 00:26] lattner commented on #863
It's arrays of si8 specifically.

This is because the Verilog emitter is emitting temporary wires to avoid cyclic reference issues.

[2021-04-01 00:30] lattner opened #866 "rtl.array_create MLIR syntax has needless parens around element type"
We currently have something like this:

[code]

But could/should have:

[code]

[2021-04-01 00:35] lattner commented on #863
The crash is fixed in 29cdb670.  I'd love help with the other issue, even just with the repro side of it.

[2021-04-01 00:36] lattner commented on #863
I'd love the output of the circt-opt command above, just something I can shove into 'translate' to get the verilog.  I don't think that will have any deps on other things.

[2021-04-01 00:40] lattner commented on #863
actually, I think I understand what is going on.  Definitely my fault.  Working on it.

[2021-04-01 00:51] lattner commented on #863
I think the correctness problem is fixed here, thank you for the testcases, I really appreciate it!
d9c34092

[2021-04-01 00:51] #863 closed

[2021-04-01 00:51] teqdruid commented on #863
[testcase_2.mlir.txt](https://github.com/llvm/circt/files/6240235/testcase_2.mlir.txt)

[2021-04-01 00:53] teqdruid commented on #863
Fix confirmed! Thank you @lattner !

[2021-04-01 04:08] #854 closed

[2021-04-01 04:40] youngar commented on #813
This is fixed upstream, and RTL level CSE has been enabled by https://github.com/llvm/circt/pull/867.

[2021-04-01 04:40] #813 closed

[2021-04-01 04:40] youngar commented on #819
Fixed by https://github.com/llvm/circt/pull/867

[2021-04-01 04:40] #819 closed

[2021-04-01 07:30] Ayushsunny commented on #866
Are you talking about this line sir @lattner ?
https://github.com/llvm/circt/blob/94ff0a17647652545f35975c545921dadd71c44b/test/Dialect/RTL/basic.mlir#L121

[2021-04-01 15:29] lattner commented on #813
Awesome, thank you so much for fixing this @youngar !

[2021-04-01 15:32] lattner commented on #866
Yes, the parser/printer logic for array_create needs to be updated to eliminate the need for it, then the testcases updated

[2021-04-01 17:12] Ayushsunny commented on #866
So, @lattner I have to change this https://github.com/llvm/circt/blob/94ff0a17647652545f35975c545921dadd71c44b/test/Dialect/RTL/basic.mlir#L121

to this `%0 = rtl.array_create %arg0, %arg0 : i8` .

I'm going right sir?

[2021-04-01 22:49] lattner commented on #866
Yes, that is the goal

[2021-04-02 05:11] lattner opened #872 "[RTL/FIRRTL] Store port names more efficiently"
We currently store port name attributes in an extremely inefficient format, as generalized argument attributes.  Consider a module with three input ports like this:

`module @foo(%a: i1, %b: i1, %c: i1) {`

Storing these as argument attributes causes a ton of extra dictionaries to be created, and causes them to be indexed by strings, see the logic that builds this up in `buildModule` in RTLOps.cpp

[2021-04-02 05:13] lattner commented on #765
lower-types-errors.mlir got fixed, but the FIRRTLToLLHD tests still need to be updated.

[2021-04-02 05:15] lattner commented on #625
I thin kthis is done.

[2021-04-02 05:15] #625 closed

[2021-04-02 05:15] lattner commented on #608
The verifier is also a significant amount of time, we should add a timer for it as well.

[2021-04-02 07:23] skanjani commented on #866
Hi @Ayushsunny, I think you need to change the printer/parser method define in the Tablegen file (.td) - https://github.com/llvm/circt/blob/main/include/circt/Dialect/RTL/RTLAggregates.td#L18.

.mlir files are the test cases to check the functionality of these Op definitions.

You can read more about Tablegen syntax here -https://mlir.llvm.org/docs/OpDefinitions/.
.mlir file syntax define here -ht

[2021-04-02 07:31] Ayushsunny commented on #866
Okay, Thank you so much sir

[2021-04-02 07:39] Ayushsunny commented on #866
Hello @lattner Can you explain me this please. I am bit confused

[2021-04-02 07:43] Ayushsunny commented on #820
? @lattner

[2021-04-02 14:03] seldridge commented on #872
This relates to annotation storage in FIRRTL, too. #823 adds a `firrtl.annotations` key to each arg attribute dictionary to deal with port annotations. I agree that using an array here is way better. Per-port Annotations could then be packed into a second ArrayAttr.

(The patch series in #823 is clean enough that port annotation support can be easily removed if a fix for this lands first.)

[2021-04-02 14:43] seldridge opened #877 "Subfield/Subindex Non-local Annotation Support"
Add the ability to read in and represent subfield/subindex _local_ annotations. These should be stored on the declaration they're associated with as opposed to on every subfield/subindex expression. These need to be properly split up during passes like `LowerTypes`.

As an example, the following FIRRTL snippet has an annotation on `bar[1].baz`:

[code]

This should be represented as an attribute o

[2021-04-02 15:35] seldridge opened #879 "Add Integration Tests for Icarus Verilog"
Add support to integration tests for [Icarus Verilog](https://github.com/steveicarus/iverilog). This is the main open source Verilog _event based_ simulator that I'm aware of.

### Motivation

We'd like to guarantee that we can produce Verilog that can (1) be consumed by existing tools and (2) simulates correctly with existing tools. We currently have integration tests that do this for Questa and

[2021-04-02 15:35] lattner commented on #820
Hi @Ayushsunny.  I'm sorry, but I don't have the ability to give you a full development tutorial here.  I'd recommend that you read some of the MLIR tutorials and look for other examples to learn from how they worked.

[2021-04-02 15:48] lattner opened #880 "test/CAPI/ir.c failing with assertions enabled"
I see this when running tests:

[code]

It isn't obvious to me what is going on here though.  The element type looks like an integer type.  Perhaps things aren't getting registered correctly?

[2021-04-02 15:48] lattner commented on #880
@GeorgeLyon do you have any idea?

[2021-04-02 15:54] GeorgeLyon commented on #880
Hmm, I haven't touched this code in a while. I think I remember @mikeurbach adding something around inout types. Let me see if I can find the PR.

[2021-04-02 16:05] GeorgeLyon commented on #880
Looks like its this one: https://github.com/llvm/circt/pull/845

[2021-04-02 16:31] GeorgeLyon commented on #880
Hmm, I'm not able to reproduce:

[code]

[2021-04-02 18:12] mikeurbach commented on #880
Hmm I can take a look. This test should be run on every PR/commit to main, as well as the full matrix of CMake options and compilers that we run nightly. It seems to pass in those cases, and on George's test. @lattner besides "assertions enabled" do you mind sharing all the CMake configurations you're using so we can try to reproduce?

[2021-04-02 20:36] lattner commented on #872
I’m working on the rtl dialect part of this

[2021-04-02 21:24] youngar commented on #774
I'm going to put together an ExpandWhens pass that handles last connect semantics

[2021-04-02 21:33] teqdruid commented on #880
None of our CI tests run on Mac...

On Fri, Apr 2, 2021 at 11:13 AM mikeurbach ***@***.***> wrote:

[2021-04-02 21:43] teqdruid commented on #879
My understanding is the iverilog SystemVerilog support is partial and
experimental, so we'll likely run into compatibility issues which
necessitate the sv "flavors" we keep discussing. I'm not saying we
shouldn't do it, but just pointing out a potential blocker.

On Fri, Apr 2, 2021 at 8:35 AM Schuyler Eldridge ***@***.***>
wrote:

[2021-04-02 23:18] teqdruid commented on #872
This seems like an efficiency issue in how MLIR stores arg/result attributes. Isn't this sort of thing specifically what arg/result attributes are for?

[2021-04-03 06:03] lattner commented on #872
There is nothing that says we need to use argument attributes to store names, we can choose to store them however we like.  However, I think that the way MLIR does arg attributes in general is bad too :-)

[2021-04-03 06:06] lattner commented on #872
RTL half of this is done in b6b3cb9f

[2021-04-03 09:18] #839 closed

[2021-04-03 13:53] Ramlakshmi3733 opened #884 "Warning that Verilog may cause mismatches between simulation and synthesis"
The formal verification tool flags this as a warning (not error).  I have attached the MLIR output and a corrected version below.

Warning: Variable(s) is(are) being read asynchronously. This may cause simulation-synthesis mismatches. (Signal: _T_0 Block: testcase_mfc.sv Line: 43)
The problem with this description is that the simulation model does not react to changes in reset_data while reset_ena

[2021-04-03 15:34] lattner commented on #774
Sound sgood

[2021-04-03 20:01] seldridge commented on #884
This is an interesting one.

Fundamentally, the async reset initial value _should_ be a constant. Otherwise the init could have setup/hold time violations and then asserting the async reset is a dice roll.

The SFC, to avoid this, actually mandates that the async reset init must be a constant and does limited constant propagation to try to enforce this. It will error if you use a non-constant valu

[2021-04-04 15:20] lattner commented on #880
Ok, I think I see something going on.  It appears to fail when I build MLIR with release mode.  When I build MLIR with debug mode, the problem goes away.  Unfortunately, that makes it harder to repro.  Can anyone else see this?

Here are the two cmake lines I use specifically:

LLVM:
```(cd $CIRCT_PATH/llvm/build; cmake -G Ninja ../llvm -DLLVM_ENABLE_PROJECTS="mlir" -DLLVM_TARGETS_TO_BUILD="X86"

[2021-04-04 15:24] lattner commented on #880
Incidentally, I think the root cause also has something to do with `TypeID::get<type>()` in mlir/lib/Support.

[2021-04-04 15:26] lattner commented on #880
Same thing happens with MLIR is debug mode and CIRCT in release mode.

[2021-04-04 16:11] lattner opened #886 "[FIRRTL] Completely eliminate firrtl.validif node"
As discussed in [this thread](https://github.com/llvm/circt/pull/881) we should completely eliminate the validif operation from the IR, folding it into a mux+isinvalid node instead.  This will simplify the compiler without losing any information.

[2021-04-04 21:14] lattner commented on #886
eab2d06e should make this lowering do the right thing in RTL Lowering.

[2021-04-05 06:47] rodonisi commented on #806
Hi @LindYu , sorry for the late answer. The main issue I can see in this example is having a root with some input/output ports. In it’s current state `llhd-sim` kinda blindly assumes the root to always be a "portless testbench root entity", as is the usual case with `moore`’s output (when compiling a simulation testbench). So what happens here, I think, is that we’re pretty much trying to access u

[2021-04-05 16:14] prithayan commented on #872
I'm working on the FIRRTL half of this

[2021-04-05 16:55] lattner commented on #872
awesome, thanks

[2021-04-05 17:02] GeorgeLyon commented on #880
`check-circt` is succeeding for me in Release at `1de1cfd0211de1c521cdd6361dac2a36345e42fa`
Here are the exact arguments I'm using:
[code]

[2021-04-05 18:37] teqdruid opened #887 "error: unexpected error: 'rtl.module' op Found port without a name. Port names are required for Verilog synthesis."
A bunch of the integration tests are broken with error messages like this:

[code]

[2021-04-05 18:50] LindYu commented on #806
Hi @rodonisi, thank you so much for your reply! With regarding to the moore usually generating a portless testbench, I used moore to convert a sv file to llhd without changing anything so I am not sure why it didn't generate a portless testbench this time. How should I structure my sv for moore to avoid this?

I also noticed that the testbenches in LLHD/simulator are mostly portless with a single

[2021-04-05 19:25] darthscsi opened #888 "LowerTypes should lower structures and vectors in memories"
firrl.mem allows structs and vectors to escape type lowering and be visible during lower-to-rtl.  These types should be completely eliminated after this pass.

[2021-04-05 21:22] teqdruid opened #889 "[Python] RTL support library broken port names"
The recent change to port names https://github.com/llvm/circt/commit/b6b3cb9f9fe7746f5646b66bfa5a2f31812fc6bd broke the RTLModuleOp python wrapper. I've managed to fix it partially, but the autowrapping stuff is still broken.

[2021-04-05 21:25] teqdruid commented on #889
[rtlmodpy.diff.txt](https://github.com/llvm/circt/files/6260745/rtlmodpy.diff.txt)

Here's my patch. It fixes the building of the port list, if you call RTLModuleOp with all the I/O ports named, it works. The decorator is, however, broken. It seems that python inspect isn't getting the returns.

[2021-04-05 21:39] lattner commented on #880
@darthscsi is seeing something similar in his config:

[code]

[2021-04-05 21:40] darthscsi commented on #880
I'm seeing that with debug/debug builds w/ clang 11.0.1 and gold

[2021-04-05 21:41] lattner commented on #880
build/bin/circt-capi-ir-test is valgrind clean for me btw.

[2021-04-05 21:42] darthscsi commented on #880
I'm not seeing it a different machine with debug/debug and clang 10.0.0

[2021-04-05 21:45] darthscsi commented on #880
here is my failing config:
[code]

[2021-04-05 21:46] lattner commented on #880
George, are you able to repro it with a mixed debug/release build?

[2021-04-05 21:47] lattner commented on #889
I'm sorry for breaking this, thank you for working on a fix!

[2021-04-05 21:49] teqdruid commented on #889
Seems like it was partially broken before but the port naming enforcement exposed a bug!

[2021-04-05 21:56] lattner commented on #887
This is because I changed the representation of port names in rtl.module.  I'll take a look later today when I have a chance.  Sorry for the breakage!

[2021-04-05 21:59] lattner commented on #887
actually, this was quick.  1429a9dd

[2021-04-05 21:59] #887 closed

[2021-04-05 22:02] teqdruid commented on #887
Huh. The error message was different from the one I got for module.extern
for the same issue... whatever.

On Mon, Apr 5, 2021 at 2:59 PM Chris Lattner ***@***.***>
wrote:

[2021-04-06 00:47] GeorgeLyon commented on #880
Yes, this fails in a mixed build for me.

I'm at a bit of a loss as to what is happening here though, maybe some of the dialect-loading code is being optimized in a weird way?

[2021-04-06 15:26] fabianschuiki commented on #884
For reference, lowering the example FIRRTL input to the RTL dialect with `firtool -lower-to-rtl` yields (abbreviated):
[code]
The interesting portion is `sv.passign %tmp50, %c0_i2` in the reset branch of the flip-flop, which actually directly has the constant operand `%c0_i2`. Constant folding should guarantee that if the reset value is a constant then the reset SSA value should be a `rtl.constant

[2021-04-06 16:00] GeorgeLyon commented on #880
Because it is CMake, I'm not 100% certain this did what I want, but I ran the MLIR build in "Release" with "-Onone" added to CMAKE_CXX_FLAGS and the failure persisted. This seems to indicate that the problem is more likely to be in an explicit `#if DEBUG`.

[2021-04-06 17:38] #886 closed

[2021-04-06 19:18] darthscsi commented on #884
The exportverilog changes caused this.  expressions in different blocks are not inlined.  The constant needs to be sunk into to block it's used in or constants need to be a special case in emission.

[2021-04-06 19:33] darthscsi commented on #884
If the constants generated localparams does this still cause problems?

[2021-04-06 19:48] fabianschuiki commented on #884
I think that would fix the issue in a pretty elegant way!

[2021-04-06 19:51] fabianschuiki commented on #884
Localparams would also help ensure that we didn't break SV's darn longest static prefix rules on lvalues with stuff like constant array indexes. That's cool!

[2021-04-06 19:58] darthscsi commented on #884
That would be a better way to make constant pools, but still not ideal.  This test case should change:
[code]

[2021-04-06 19:59] darthscsi commented on #884
At minimum assigns need to not spill their rhs if they are constants, even if they are long constants.

[2021-04-06 20:38] darthscsi commented on #884
localparams might be a hack to allow spilling constants without breaking resets.
@Ramlakshmi3733 reports that putting the constants in localparams makes the tools happy.

[2021-04-06 20:41] fabianschuiki commented on #884
Now the question is do we prefer localparams or force-inlining constants during emission where it's necessary 😃 ?

[2021-04-06 21:26] teqdruid commented on #889
@mikeurbach Should I just disable the two decorator tests until we have a chance to drive this to ground? It's led to failed integration tests the last few nights.

[2021-04-06 22:29] darthscsi commented on #884
inlining where possible, localparam makes a globally visible name.

[2021-04-06 22:49] mikeurbach commented on #889
Yep that is fine by me. I can take a look at fixing the decorator.

[2021-04-06 23:05] teqdruid commented on #889
https://github.com/llvm/circt/commit/3bb6cde8b7d3f3277dddebbb4e90eadfde3c1de3 and re-running the integration tests https://github.com/llvm/circt/actions/runs/724174462

[2021-04-06 23:22] mikeurbach commented on #889
Thanks. I'm about to add those back fix the issue. I'm also just going to remove _build_ports from there, it is unnecessary now that we have a more intuitive attribute instead of following FunctionLike's (dubious) convention.

The root cause of the issue with the decorator that RTLModuleOp is now verifying that the new argNames/resultNames attributes have as many names in the list as args/resuls (

[2021-04-06 23:27] teqdruid commented on #889
I looked into the decorator, but in the 5 mins I spent on it I couldn't even get the # of return values or their types. Or is that what the `i32, i32` decorator is about?

You could always add output port names to the decorator.

[2021-04-06 23:34] mikeurbach commented on #889
That's actually to give hints about the input types. The result types are known after calling the decorated function, here: https://github.com/llvm/circt/blob/ad66d4155b9d65c0303801a581c4aa64d83dc7b3/lib/Bindings/Python/circt/dialects/_rtl_ops_ext.py#L141

I did that in a first draft. In my opinion, naming the results didn't add enough value to justify more typing in what was supposed to be the te

[2021-04-07 01:00] teqdruid commented on #889
#892 fixed this

[2021-04-07 01:00] #889 closed

[2021-04-07 15:31] rodonisi commented on #806
Hi @LindYu, you're very welcome, thanks for bringing this up!
Regarding more complex integration tests, no, I don't think we currently any available in this repo, but you are welcome to refer to the compiled examples I used during the early development of `llhd-sim` [here]( https://github.com/rodonisi/llhd-extras/tree/master/examples), and the respective sv files [here]( https://github.com/rodonis

[2021-04-07 17:15] darthscsi commented on #844
The causes of this will be moved with #864 but we will need to reverify after that is in.

[2021-04-07 20:29] mikeurbach commented on #880
This is making my palms sweat. I know something weird happened here before that Stella resolved. I am hopeful it is not whatever that was.

I am normally building a little differently, but I'm going to try and reproduce.

[2021-04-07 21:10] lattner commented on #880
Thank you Mike.  The key thin about TypeID::get is that it expects mangled names to be merged by the linker according to ODR rules.  Maybe there is something weird about the build that is breaking this?  @stellaraccident is this a battle you've previously fought?

[2021-04-07 21:31] lattner commented on #884
There are really two things going on here:

1) we need to sink constants and other expressions so we have fewer unnecessary cross block expressions emitted out of line (this affects simulator performance and readability of verilog).  This should be nice to have right now.

2) We need have guaranteed "constantness" for constants apparently, even if they get assigned to temporaries whatever reason.

[2021-04-07 22:32] JuanEsco063 commented on #543
@mikeurbach I am revisiting old examples and using the latest version of your branch #602 on the same code from my comment of Feb 26th (matmul_std_lin.mlir) and following the same steps I am getting an error stating custom op 'alloc' is unknown when running:

`circt-opt matmul_std_lin.mlir -create-dataflow -handshake-insert-buffer -lower-handshake-to-firrtl > matmul_firrtl_1.mlir`

Did something c

[2021-04-07 22:46] mikeurbach commented on #543
Hmm apparently. I was planning to revisit those same examples shortly and experiment with #602. I suspect it just needs to re-base master, but I will check.

[2021-04-07 22:49] JuanEsco063 commented on #543
@mikeurbach thank you!

[2021-04-07 23:37] darthscsi opened #896 "--top isn't respected in driver.cpp for circt-rtl-sim.py"
driver.cpp includes Vtop.h, which assumes the toplevel module is named top.  circt-rtl-sim.py takes a parameter to set the toplevel name to something else, but the driver still assumes it's "top".

[2021-04-07 23:48] darthscsi commented on #896
The same holds for driver.sv

[2021-04-08 15:41] darthscsi opened #898 "low firrtl has converted sync reset registers to muxes"
We should update the folder so we fold connect(reg, mux(sig, const, val)) -> connect(reg, val), reg(reset(sig, const))

[2021-04-08 18:19] lattner opened #899 "[exportverilog] Improve location options"
We currently print source location information as a comment with line and column info.  It would be great to expand this (along with a lowering option) to four different options:

1) None
2) Current comment.
3) `line directives (which cover filename + line)
4) `line and comment (which covers filename+line+col)

Something like `veriloglocationstyle={none,comment,line,both}` would be nice.

-Chris

[2021-04-08 20:48] darthscsi opened #900 "Lack of mux folding causes unreachable code which tools complain about"
[code]
Gives
[code]
assigning d2 to foo is unreachable and generates warnings.

[2021-04-08 20:55] seldridge commented on #900
I believe the Scala FIRRTL Compiler solution here is to not inlining things which show up multiple times: https://github.com/chipsalliance/firrtl/pull/1727. Notably, the example you show @darthscsi is almost the exact same in the @jackkoenig comment: https://github.com/chipsalliance/firrtl/pull/1727/files#diff-c6da5ed7e3fd4da61e9f75fd30b40269492a699755bd0752dcd6f264bc541d19R77.

[2021-04-08 21:28] lattner commented on #900
Seems like we can handle this by canonicalizing `mux(cond1, mux(cond1), x)` and `mux(cond1, x, mux(cond1))`.  I doubt the tools are doing global analysis.

[2021-04-08 21:33] jackkoenig commented on #900
Thanks for the links @seldridge, I'll just add a little insight from having dealt with this in the past.

One might be tempted (as I was) to solve this via mux folding. In this case you would get: `node bar = mux(c1, d1, d3)`. While I think this is a reasonable `-O2` option, it does actually change the structure of users' code in a way they may find surprising. The feedback I got from users was mi

[2021-04-08 21:37] jackkoenig commented on #900
All that being said, I think it's fine to target a sensible `-O2` before going back and figuring out how to manage `-O0` since the relationship between generated code and Verilog linting / synthesis is tricky as we all know.

[2021-04-08 21:39] lattner commented on #900
I don't think there is a reasonable `-O0` model in the Chisel design.

[2021-04-08 21:42] jackkoenig commented on #900
Why not? Even if `-O0` isn't "lint clean" there's still value in it for user understanding.

[2021-04-08 21:48] lattner commented on #900
-O0 is definable (don't run any elective optimization passes, incl mux folding) but isn't supportable.  As we covered before, a bunch of tools expect certain optimizations otherwise their heuristics break.

[2021-04-08 22:02] jackkoenig commented on #900
I think it's possible to define a minimal set of optimizations that emits lint-clean and heuristic happy Verilog while only minimally mangling the input. Perhaps this is more of an "`-O1`" than "`-O0`", but this is a perfect example of where one could choose not to do the optimization. You could instead just not inline the mux and you'd get something that more closely matches the input.

[2021-04-08 22:10] #900 closed

[2021-04-08 22:10] seldridge commented on #900
One caveat: there has been push back from users for any non-trivial mux folding, e.g., https://github.com/chipsalliance/firrtl/issues/1049#issuecomment-471234634. If a tool is giving weird QoR on some mux tree, a user may restructure the tree at the Chisel level. Not preserving that intent through to the output Verilog is a change to the current user experience.

_I'm not saying this is the right

[2021-04-08 22:52] mikeurbach commented on #543
I fixed one bug here 8801f6c758a62d12c2721051b993a8e1d149b063, which was causing canonicalization to break the dataflow graph. I'm also working on setting up an integration test using Vivado. Before going to the matmul example, I tried starting with just a [simple loop](https://github.com/llvm/circt/blob/main/test/handshake-runner/simple_loop.mlir). That program will not run without the change in

[2021-04-08 23:03] teqdruid opened #905 "[Python] 'Connect' syntax for Python bindings"
I would like to add "late-connect" semantics to the Python bindings. That is, be able to create an arbitrary operation without having `Value`s for each operand. The user would be able to connect them later on using a `connect(a, b)` function. For instance, something like (pseudocode):

[code]

Would create a feedback loop with a register.

[2021-04-08 23:08] teqdruid commented on #905
I could obviously do this for specific ops by writing some per-op Python, which is probably what I'll do first. How should we do this in a way that it could be used with any operation?

[2021-04-09 05:29] lattner commented on #900
Yeah, this is a case where the users probably want something that no tool can deliver.

[2021-04-09 06:37] #884 closed

[2021-04-09 15:45] seldridge opened #907 "Parsing Instance Connects Broken"
Connections involving instances fail to parse, but work in the Scala FIRRTL Compiler.

The following currently fails:
[code]

The error is:

[code]

Glancing at the parser, it looks like it expects `sub` to be in the value table, but it isn't. There is special logic to handled `sub is invalid`, but that needs to be extended to handle connections to submodules.

[2021-04-09 16:06] mikeurbach commented on #543
One more update from my experiments: I updated the handshake-insert-buffers pass to always put a single slot buffer on the input to each control merge operation, and the circuit does not deadlock. This is in addition to the buffers necessary to break combinational cycles.

This points to the lowering of control merge to hardware as a culprit. It already has internal buffers, but the fact that I ha

[2021-04-09 16:23] seldridge commented on #907
The approach for invalid is tedious to apply here. For the `sub is invalid` case, we just invalidate all the ports. However, for the `a <= sub` and `a <- sub` case, this is limited application of type lowering to do this correctly. We could instead construct a new aggregate wire that coalesces all the ports, connect the instance to that, and then connect that to `a` (or vice versa).

[2021-04-09 17:00] mikeurbach commented on #905
At first blush, this `connect` function just looked to me like syntactic sugar around an `sv.connect` operation. Wouldn't it be possible to generically have the proposed `connect` build an `sv.wire` or `sv.reg` and `sv.connect` both of the Values? Maybe I'm missing something, but it seems possible.

However, this gets into `sv.wire` land, and the inout type, which are harder to reason about (not t

[2021-04-09 17:13] stephenneuendorffer commented on #543
Latency insensitivity and deadlock are separate issues.  From a formal perspective, latency insensitivity is a property of designs with infinite-size fifos on each channel.  If a design deadlocks when fifo sizes get smaller, then this is a proper approximation of the correct execution.  It is very possible that we need to insert buffers in strategic places to avoid deadlock and to increase perform

[2021-04-09 17:18] mikeurbach commented on #880
Ok, sorry for the delay. I tried to reproduce this using the setup Chris posted here: https://github.com/llvm/circt/issues/880#issuecomment-813050898. I could _not_ repro, even with MLIR built in Release mode (with assertions) and CIRCT built in Debug mode (also with assertions).

This is on Ubuntu 20.04. Since I was following the commands exactly, I didn't specify anything about the C++ compiler

[2021-04-09 17:41] mikeurbach commented on #543
Got it, thanks for the correction. I guess the latency insensitivity of the circuit is not in question, we are just in a situation where the design deadlocks. Is that the correct way to phrase it?

This is what I'm hoping to achieve in the short term, before going into approaches like that paper. The way we are generating (and canonicalizing) Handshake, we end up with a ControlMergeOp for each bas

[2021-04-09 18:19] GeorgeLyon commented on #880
I have no problem removing the test temporarily.

[2021-04-09 20:18] teqdruid commented on #543
I should have mentioned earlier that the LI-BDN paper lays out a set of
rules which guarantee the individual components won't cause deadlock. dspace
cover page (mit.edu)
<https://dspace.mit.edu/bitstream/handle/1721.1/58834/Vijayaraghavan-2009-Bounded%20Dataflow%20Networks%20and%20Latency-Insensitive%20Circuits.pdf?sequence=1&isAllowed=y>
I
found it very helpful in a past life while working on LLP

[2021-04-09 21:57] lattner commented on #880
I'm a bit confused: is this a broken test, or is this a problem the test is exposing?

[2021-04-09 22:02] lattner commented on #907
I'll take a look

[2021-04-09 22:11] lattner commented on #907
Ok, well there are two different problems here, one is the parser issue which is straight-forward to fix.  This is a change to FIRParser.cpp:1211 and will geenralize the "bundle is invalid" logic nicely.

The problem is that we have no way to represent this in the IR.  I think we need a `firrtl.bundle (x,y,z)` operation like we discussed earlier today.  Can someone work on this?

[2021-04-09 23:23] teqdruid commented on #905
It's analogous, but more general since I want it to work for all ops. (My example was probably not demonstrative enough.) Here's another one, though the ops do not yet exist:

[code]

Yeah, that's been roughly my thought as well. I'm wondering a few things:

1) Should said API instantiate the ops with known-bad Values (a la `BackedgeBuilder`) when they're created by user code? Or create a "to eval

[2021-04-10 00:49] GeorgeLyon commented on #880
I think it is the latter, but I don't want this to impact peoples workflows (especially if this is the only place we encounter this issue)

[2021-04-10 01:51] mikeurbach commented on #880
Yeah, I think it is the latter as well. The test runs on every PR and commit to master and passes with the cmake configuration our CI uses. So I think this issue is about not blocking development, which is why I suggested just commenting out that test or something, if it helps.

I still cannot reproduce this with Clang 12.0.0 and gold or lld. I can try installing an older Clang.

[2021-04-10 01:59] seldridge opened #910 "Construct firtool Pass Pipeline from Annotations"
The Scala FIRRTL Compiler (SFC) uses a special annotation, [`firrtl.stage.RunFirrtlTransformAnnotation`](https://www.chisel-lang.org/api/firrtl/latest/firrtl/stage/RunFirrtlTransformAnnotation.html) to add a custom transform to the SFC compile pipeline.

As things like #909 land, it would be cool if a `firtool` user didn't have to explicitly request `--inline-stuff` and could instead rely on eithe

[2021-04-10 02:11] GeorgeLyon commented on #880
OK I dug a bit deeper and the issue seems to be here:
https://github.com/llvm/circt/blob/efb9239e271fa184ef13e8f1e4e4134f8d7e27da/lib/Dialect/RTL/RTLTypes.cpp#L50
`type.isa<IntegerType>()` is returning `false`, despite `type.dump()` printing `i8`. This is peculiar since the type is created using `IntegerType::get` here:

https://github.com/llvm/llvm-project/blob/f3bf5c053b06c756f75ff07517d1e54c48c

[2021-04-10 02:34] mikeurbach commented on #543
Thanks for the more formal reference @teqdruid. I think I've come across that before but I'm reading it for real now. I think we have been pretty careful to preserve the NED and SC properties within the implementation of each component, but more tests/formal reasoning about them would be great.

I think the issue I'm grappling with is related to the compositions of components. In that paper, Lemma

[2021-04-10 02:44] teqdruid commented on #742
With the addition of `seq.combreg` do we have everything we need to do this?

[2021-04-10 04:02] mikeurbach commented on #742
I have been thinking about this... it's close. It'd be nice to have an abstraction for a [pipeline](https://github.com/llvm/circt/issues/587), so we can say things like "give me a two-slot non-transparent buffer". Maybe in `seq.pipeline`? It comes up for `handshake.buffer`, as well as memories, if we need to match up read/write latencies. That's certainly not necessary to get started, everything i